<!--
File Created: 2020-01-28 09:49:11
Author: Christophe SONNEVILLE
Copyright - 2020 Christophe SONNEVILLE
-->
<section id="view13">
  <div id="view-13-middle">
    

    <article>
      <p class="text-change">
        <span><em id ="view-13-2x">80%</em> des PMR satisfaits </span>
        des conditions d’accessibilité 
        de leur dernier voyage 
        sont <span>susceptibles de revenir </span>
        dans la même destination à l’avenir.

        <br>
        <br>
        <em id="view-13-source">Source : European Commission. « Economic Impact and Travel Patterns 
          of Accessible Tourism in Europe – Final report », (juin 2014)</em>
      </p class="text-change">
    </article>

  </div>
  <footer>
    <button id="view-13-next-button">
      Retrouver <em> Wendy</em>
    </button>
  </footer>
</section>