.cls-7 {
  /* la boite */
}


/* .cls-8:hover {
  // l'input
  fill: #ff9700;

} */

.cls-9:hover {
  /* le texte j'ai de la chance */
  fill: #ff9700;
}

#entree {
  height: 18vh;
  width: 25vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  bottom: 36vh;
  left: 36vw;
}

#in {
  background: transparent;
  border: solid red 1px;
  padding-left: 10%;
}

#b1 {
  height: 3vh;
  width: 15vw;
  font-size:1.6vh;
  padding-top: 0vw;
  padding-bottom: 3vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  bottom: 41vh;
  left: 41vw;

}
