<li class="slide stop-scroll" style="width: 100vw; position: relative">

    <div style="position: absolute; z-index: 10; color: black; left: 25%">
        Choisissez un personnage
    </div>

    <img src="img/decors/decor_70s.webp" class="inslide-decor">
    <img src="img/personnages/Pablo.png" alt="Pablo" style="width: 7.5vw; position: absolute; left: 43vw; bottom: 5vw; transform: scaleX(-1);">
    <img src="img/personnages/Emma_periode_2.png" alt="Emma" style="width: 6vw; position: absolute; left: 33vw; bottom: 8vw; transform: scaleX(-1);">
    <img class="next2 persFilleP2" src="img/personnages/Martine.png" alt="Martine">
    <img class="next persGarconP2" src="img/personnages/Alain.png" alt="Alain" >

    <img id="textBox4" class="textBox">
    <span id="textBoxTyped4" class="textBoxTyped"></span>

</li>
