<li class="slide stop-scroll" style="width: 100vw; position: relative">

    <div style="position: absolute; z-index: 10; color: black; left: 25%">
        Choisissez un personnage
    </div>

    <img src="img/decors/decor2.png" style="z-index: 0; width: 100vw; height: 120vh; position: absolute; left: 0; top: -10vh" alt="">
    <img src="img/personnages/PNG/PNG/perso_04.png" alt="Pablo" style="width: 7.5vw; position: absolute; left: 43vw; bottom: 5vw; transform: scaleX(-1);">
    <img src="img/personnages/PNG/PNG/perso_02.png" alt="Emma" style="width: 6vw; position: absolute; left: 33vw; bottom: 8vw; transform: scaleX(-1);">
    <img class="next2 persFilleP2" src="img/personnages/PNG/PNG/perso_03.png" alt="Pers Fille">
    <img class="next persGarconP2" src="img/personnages/PNG/PNG/perso_05.png" alt="Pers Garçon" >

    <img src="img/boite_dialogue/boite_dialogue-perso_02.png" style="width: 25vw; left :5vw; bottom: 150px; position: absolute;">

</li>
