<li class="slide" style="width: 100vw; position: relative">

    <img src="img/decors/decor_70s.webp" class="inslide-decor">
    <!--Visiteur (Pablo)-->
    <img src="img/personnages/Pablo.png" alt="Pablo" style="width: 7.5vw; position: absolute; left: 43vw; bottom: 5vw; transform: scaleX(-1);">
    <!--Eleve (Emma) -->
    <img src="img/personnages/Emma_periode_2.png" alt="Emma" style="width: 6vw; position: absolute; left: 33vw; bottom: 8vw; transform: scaleX(-1);">
    <!--Fille (interlocutrice)-->
    <img src="img/personnages/Martine.png" alt="Martine (interlocutrice)" style="width: 7.7vw; position: absolute; left: 55vw; bottom: 5vw">
    <!--Garçon -->
    <img class="prev" src="img/personnages/Alain.png" alt="Alain" style="width: 8.5vw; position: absolute; left: 70vw; bottom: 10vw" >

    <img id="textBox6" class="textBox">
    <span id="textBoxTyped6" class="textBoxTyped"></span>
</li>
