<li class="slide" style="width: 100vw; position: relative">

    <img src="img/decors/decor_70s.webp" class="inslide-decor">

    <!--Visiteur (Pablo)-->
    <img src="img/personnages/Pablo.png" alt="Pablo" style="width: 7.5vw; position: absolute; left: 43vw; bottom: 5vw; transform: scaleX(-1);">
    <!--Eleve (Emma) -->
    <img src="img/personnages/Emma_periode_2.png" alt="Emma" style="width: 6vw; position: absolute; left: 33vw; bottom: 8vw; transform: scaleX(-1);">
    <!--Fille -->
    <img id="martineNext" class="next" src="img/personnages/Martine.png" alt="Martine" style="width: 6vw; position: absolute; left: 70vw; bottom: 10vw;";>
    <!--Garçon (interlocuteur) -->
    <img src="img/personnages/Alain.png" alt="Alain (interlocuteur)" style="width: 11vw; position: absolute; left: 55vw; bottom: 5vw">

    <img id="textBox5" class="textBox">
    <span id="textBoxTyped5" class="textBoxTyped"></span>


</li>
