<!--
File Created: 2020-01-28 21:05:51
Author: Christophe SONNEVILLE
Copyright - 2020 Christophe SONNEVILLE
-->
<section id="view9premium">
  <div id="view-9p-middle">
    <div>
      <img src="assets/view9/premium/ecran.svg" alt="Ecran">
    </div>
    <div>
      <p class="text-change">Je vois que je peux contacter directement l’hôtel du Centre
      via la <em>plateforme</em> Handiplanet.<br/>
      Tout est <em>plus facile !</em></p class="text-change">
    </div>
    <img src="./assets/view9/bulle1.svg" alt="" id="view9p-bulle1">
    <img src="./assets/view9/bulle2.svg" alt="" id="view9p-bulle2">
    <img src="./assets/view9/bulle3.svg" alt="" id="view9p-bulle3">
  </div>
</section>