<!--
File Created: 2020-01-28 09:49:11
Author: Christophe SONNEVILLE
Copyright - 2020 Christophe SONNEVILLE
-->
<section id="view3-free">
  <div id="view-3-free-middle">
    <img src="assets/view3/view3-picture.svg" alt="" id="view-3-free-picture">

    <article>
      <p class="text-change">L’hôtel du Château ne propose qu'<span>une seule photo,</span>mais je verrais bien sur place s’il y a des aménagements. Je serai peut-être <span>agréablement surprise.</span></p class="text-change">
    </article>
    
    <div id="view-3-free-red-ring"></div>
    <div id="view-3-free-green-dot"></div>
    <div id="view-3-free-white-ring"></div>
    <div id="view-3-free-green-tiny-dot"></div>
  </div>
</section>