<!--
File Created: 2020-01-28 09:49:11
Author: Christophe SONNEVILLE
Copyright - 2020 Christophe SONNEVILLE
-->
<section id="view3-free">
  <div id="view-3-free-middle">
    <img src="assets/view3/view3-picture.svg" alt="" id="view-3-free-picture">

    <article>
      <p class="text-change">Tu as choisi l'hôtel A.<br>En effet il n'a <span>qu'une seule photo</span>, cela ne me permet donc pas de <span>connaitre</span> ses équipements.<br>Mais je peux être <span>agréablement surprise.</span></p class="text-change">
    </article>
    
    <div id="view-3-free-red-ring"></div>
    <div id="view-3-free-green-dot"></div>
    <div id="view-3-free-white-ring"></div>
    <div id="view-3-free-green-tiny-dot"></div>
  </div>
  <footer>
    <button id="view-3-free-next-button">
      Et si tu me montrais <span>l'autre hôtel ?</span>
    </button>
  </footer>
</section>