/* Button next scene */

#e_next {
  height: 40px;
  width: 150px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  bottom: 16%;
  right: 25%;
  line-height:15px;
}

/* #e_next:hover {
  border-color: white;
} */
