<!--
File Created: 2020-01-28 09:49:11
Author: Christophe SONNEVILLE
Copyright - 2020 Christophe SONNEVILLE
-->
<section id="view1">
  <div id="view-1-middle">
    <svg width="1400" height="770" viewBox="0 0 1400 770" id="view-1-svg">
      <path d="M 262.9,252.2 C 210.1,338.2 256.3622893428577,424.80435911428486 295.79331477142864,529.4594463142854 337.2334261428567,635.9445797428573 511.2,531.7866295428573 620.3,550.2866295428573 750.6,572.3866295428572 868.8794274000002,711.753019542857 987.3,686.5 1098.3724837142859,663.2839703714286 1204.0480142857148,544.1445797428572 1173,429.2 1141.9519857142852,311.4650231142857 1096,189.1 995.1,130.7 852.1,47.07 658.8,78.95 498.1,119.2 410.7,141.1 322.6,154.8 262.9,252.2 Z" style="fill: rgb(40, 47, 175);" ></path>
    </svg>
    <img src="assets/splash-view1.svg" alt="" id="view-1-splash-img">
    <div>
      <img src="assets/character-view1.svg" alt="" id="view-1-character-img">
      <div id="view-1-switch-character"  class="view-1-switch-character">
        Clique
      </div>
  
      <div id="view-1-select-character" class="view-1-switch-character">
        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
    <img src="assets/hotel-view1.svg" alt="" id="view-1-hotel-img">
    <img src="assets/luggage-view-1.svg" alt="" id="view-1-luggage-img">

    <article>
      <p class="text-change">Bonjour,<br>Moi c’est <span>Wendy</span>, je suis une <span>PMR*</span>. Aujourd’hui tu es avec moi, afin de m’aider à <span>trouver un hôtel</span> pour mon séjour <span>à Nantes.</span></p>
      <p>*Personne à mobilité réduite.</p>
    </article>

    
    
  </div>
  <footer>
    <button id="view-1-next-button">
      Continuer
    </button>
  </footer>
</section>