<!--
File Created: 2020-01-28 09:49:11
Author: Christophe SONNEVILLE
Copyright - 2020 Christophe SONNEVILLE
-->
<section id="view1">
  <div id="view-1-middle">
    <img src="/handiplanet/assets/splash-view1.svg" alt="" id="view-1-splash-img">
    <img src="/handiplanet/assets/character-view1.svg" alt="" id="view-1-charactere-img">

    <article>
      <p>Bonjour,</p>
      <p>Moi c’est Wendy, je suis une PMR*. Aujourd’hui tu es avec moi, afin de m’aider trouver un hôtel pour mon séjour à Nantes.</p>
      <p>*Personne à mobilité réduite.</p>
    </article>
    
  </div>
  <footer>
    <button id="view-1-next-button">
      Continuer
    </button>
  </footer>
</section>