<li class="slide stop-scroll" style="width: 100vw; position: relative">
    <div class='key-slide-content'>
    <img src="img/decors/decor_70s.webp" class="inslide-decor">
    <img src="img/personnages/Pablo.png" alt="Pablo" style="width: 7.5vw; position: absolute; left: 43vw; bottom: 5vw; transform: scaleX(-1);">
    <img src="img/personnages/Emma_periode_2.png" alt="Emma" style="width: 6vw; position: absolute; left: 33vw; bottom: 8vw; transform: scaleX(-1);">
    <img id="alain" class="next" src="img/personnages/Alain.png" alt="Alain" style="width: 11vw; left: 57vw; bottom: 5vw;">
    <img id="martine" class="next2" src="img/personnages/Martine.png" alt="Martine" style="width: 7.8vw; left: 70vw; bottom: 5vw;">

    <img id="textBox4" class="textBox">
    <span id="textBoxTyped4" class="textBoxTyped"></span>
    </div>
</li>
