<!--
File Created: 2020-01-28 21:05:51
Author: Christophe SONNEVILLE
Copyright - 2020 Christophe SONNEVILLE
-->
<section id="view9free">
  <div id="view-9f-middle">
    <section>
      <article>
        <img src="assets/view9/free/ecran.svg" alt="Ecran">
      </article>
      <article>
        <p><em>Je n’ai rien vu</em> qui permettait de les contacter. Je vais devoir <em>chercher</em> les coordonnées de l’hôtel A sur d’autres sites. J’espère que je n’aurai pas de <em>fausses informations.</em></p>
      </article>
    </section>
  </div>
  <footer>
    <button id="view-9f-next-button">
      Peut-on contacter l’hôtel B ?
    </button>
  </footer>
</section>