<!--
File Created: 2020-01-28 21:05:51
Author: Christophe SONNEVILLE
Copyright - 2020 Christophe SONNEVILLE
-->
<section id="view9free">
  <div id="view-9f-middle">
    <section>
      <article>
        <img src="assets/view9/free/ecran.svg" alt="Ecran">
      </article>
      <article>
        <p class="text-change"><em>Je n’ai rien vu</em> qui permettait de les contacter. Je vais devoir <em>chercher</em> les coordonnées de l’hôtel du Château sur d’autres sites. J’espère trouver les <em>bonnes informations.</em></p class="text-change">
      </article>
    </section>
  </div>
</section>