<!--
File Created: 2020-01-28 09:49:11
Author: Christophe SONNEVILLE
Copyright - 2020 Christophe SONNEVILLE
-->
<section id="view4">
  <div id="view-4-middle">
    
    <div id="view-4-chart-container">
      <div id="view-4-flex-container">
        <div id="view-4-free-rect">
          <p>Gratuit</p>
        </div>
      </div>
      <div id="view-4-flex-container">
        <p>
          +25%
        </p>
        <div id="view-4-premium-rect">
          <p>Premium</p>
        </div>
      </div>
    </div>

    <article>
      <p class="text-change">Sur Handiplanet, l'abonnement <span>premium</span> permet de <span>mettre en avant</span> un établissement à l'aide de photos, 
      ce qui permet <span>d'augmenter de 25%</span> les réservations de chambres PMR.<br><br>
      C'est <span>une solution efficace</span> pour amortir les investissements qu'implique la loi Elan.</p>
      <br><br>
      <cite>Source : Résultats moyens obtenus par les utilisateurs de la plateforme Handiplanet</cite>
    </article>

    
    
  </div>
</section>