<!--
File Created: 2020-01-28 09:49:11
Author: Christophe SONNEVILLE
Copyright - 2020 Christophe SONNEVILLE
-->
<section id="view4">
  <div id="view-4-middle">
    
    <div id="view-4-chart-container">
      <div id="view-4-flex-container">
        <p>
          <span>Augmentation de 25%</span><br>sur les réservations de chambres PMR
        </p class="text-change">
        <div id="view-4-free-rect">
          <p>Gratuit</p>
        </div>
      </div>
      <div id="view-4-flex-container">
        <div id="view-4-premium-rect">
          <p>Premium</p>
        </div>
      </div>
    </div>

    <article>
      <p class="text-change">Sur Handiplanet, un abonnement <span>premium</span> permet de mettre en avant un établissement,
      donc <span>d'augmenter de 25%</span> les réservations de chambres PMR. Une solution efficace pour amortir
    les investissements qu'implique la loi Elan.</p class="text-change">
    </article>

    
    
  </div>
</section>