.slide{
    overflow: hidden;
}
#image_desktop{
    background-repeat: no-repeat;
}
#text_project_presentation{
    margin-top: 15%;
  font-weight: bold;
  font-family: 'Work Sans';
  font-size : 18px;
}
#text_project_presentation h2 {
    color : #23DC82;
    text-align: left;
    font-size : 40px;
    font-family: 'Roboto';
  }

  body{
      overflow: hidden;
  }
  .testslide
  {
      position: absolute;
      height: 20px;
      width: 20px;
      left: 0;
      background-color: red;
      z-index: 1;
  }

  #Acceuil{
      /*background-image: url("../image/bureau_sport.svg");*/
  }
  .slide{
      overflow: hidden !important;
  }

  .hide_chart{

    height: 160px;
    position: absolute;
    
    width: 100vw;
    background-color: white;
    
    z-index: 9;

  }
  #sliding_background_4{
    z-index: 10;
  }
  #sliding_background_3{
    z-index: 11;
  }
  #sliding_background_2{
    z-index: 12;
  }
  #sliding_background_1{
    z-index: 13;
  }
  #sliding_foreground{
    z-index: 15;
  }
  #walking_perso{
    z-index: 14;
    height: 275px;
    position: absolute;
    
    bottom: 40px;
  }
  #walking_perso_1{
    bottom: 22px;
  }
  #walking_perso_2{

  bottom: 77px;
    left: -68px;
    z-index: 13;
  }
  #walking_perso_3{

    bottom: 78px;
    left: 86px;
    z-index: 13;
  }
#walking_perso_4{

  left: -97px;
    bottom: -13px;
}
  .walking_new_perso{
    z-index: 14;
    height: 275px;
    position: absolute;
    
    /*bottom: 40px;*/
  }
  .sliding_background{
    bottom: 0;
  }
  #titre_graphique{
    z-index: 20;
  }
.x_position{
  position: absolute;
  font-size: 25px;
  color: #42928A;
}
/*
.sun {
  width: 100px;
  height: 100px;
  background-color: #F1B64F;
  border-radius: 50%;
  position: absolute;
  top: 440px;
  left: 588px;
 z-index: 1000;
  animation: sun-movement 40s infinite ease;
}

@keyframes sun-movement {
  0% {
    transform: rotate(0deg) translateX(-475px);
  }
  100% {
    transform: rotate(155deg) translateX(-475px);
  }
}*/

.hide{
  display: none !important;
}

.sliding_nombre_commu_global { 
  color: #23DC82;
  padding: 5px 13px 5px 5px;
  display: inline-block;
}
.sliding_nombre_commu_rep{
  color: #23DC82;
  padding: 5px 13px 5px 5px;
  display: inline-block;
}

#sliding_info_commu{
  position: absolute;
  left: 105px;
  z-index: 100;
}
#animation_final{
  position: absolute;
  z-index: 100;
  height: 100vh;
  width: auto;
  top: 0;
  left: 0;  
}
.image_next{

  background-image: url('../image/arrow.svg');
  background-repeat: no-repeat;
  position: absolute;
  height: 100px;
  width: 100px;
  z-index: 10000000000;
  transform: rotate(90deg);
}

.content_image_end {

  transition: 0.5s;
  bottom: 30px;
  right: 30px;
  position: absolute;
  height: 120px;
  width: 120px;
  z-index: 100000000;
}

.transform_end{
  transform: translateY(40px);
}
.titre_video{
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
    top: 50px;
    font-size: 50px;
}
.btn_creer_commu{


position: absolute;
    left: 50%;
    bottom: 60px;
    background: white;
    color: green;
    transform: translateX(-50%);
}
#slide_video_createur{
  position: relative;
}