/*
 * File Created: 2020-01-27 21:14:19
 * Author: Christophe SONNEVILLE
 * Copyright - 2020 Christophe SONNEVILLE
 */

#app-view {
  position: relative;
  background-color: #ffffff;
  #app-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    padding: 30px;

    header {
      display: flex;
      img {
        height: 6.5vh;
      }

      ul{
        margin: 0px;
        padding: 0px;
        margin-left: auto;
        list-style: none;
        display: inline-block;
        display: flex;
        li{
          display: inline-block;
          margin: auto 30px;
          color: #5A8D8C;
          padding: 5px 10px;
          font-weight: lighter;

          &:last-of-type {
            background-color: #5A8D8C;
            color: #ffffff;
            margin-right: 0px;
            border-radius: 20px;
            a{
              color: #ffffff; 
            }
          }
        }
      }
    }
    
    #scroll-point{
      position: absolute;
      right: 5vw;
      top: 60vh;
      transform: translateY(-50%);

      
    .point{
      position: relative;
      height: 2vh;
      width: 2vh;
      border-radius: calc(2vh / 2);
      background-color: #ffffff;
      border: 0.5vh solid #5a8d8c;
      margin-bottom: 10vh;

      
      &:last-of-type{
        &::after{
          display: none;
        }
      }
      
      &:first-of-type{
        &::before{
          display: none;
        }
      }

      &::after{
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 8vh;
        width: 0.6vh;
        background-color: #5a8d8c;
        top: calc(100% + 0.5vh);
        z-index: -1000;
        // bottom: 1vh;
      }
      &::before{
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 5vh;
        width: 0.6vh;
        background-color: #5a8d8c;
        bottom: calc(100% + 0.5vh);
        z-index: -1000;
        // bottom: 1vh;
      }
    }
    }

      
    .selected{
      
      border: 0.5vh solid #cb563e !important ; 

      &::after{
        background-color: #cb563e !important ;
      }
      &::before{
        background-color: #cb563e !important ;
      }
    }

    #text-size{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      height: 80%;

      .text{
        margin-bottom: 4vh;
        background-color: #5a8d8c;
        height: 8vh;
        width: 8vh;
        border-radius: calc(8vh / 2);
        color: white;
      }
      .selected{
        background-color: #cb563e !important;
      }

      #small{
        font-size: small;
      }
      #medium{
        font-size: medium;
      }
      #large{
        font-size: large;        
      }

    }
    
  }

  
}