/*
* File Created: 2020-01-27 21:14:19
* Author: Christophe SONNEVILLE
* Copyright - 2020 Christophe SONNEVILLE
*/

#app-view {
  position: relative;
  background-color: #ffffff;
  #app-overlay {   
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    padding: 30px;
    
    *{
      z-index: 999;
    }
    
    header {
      z-index: 999;
      display: flex;
      img {
        height: 6.5vh;
      }
      
      ul{
        z-index: 1000;
        margin: 0px;
        padding: 0px;
        margin-left: auto;
        list-style: none;
        display: inline-block;
        display: flex;
        li{
          display: inline-block;
          margin: auto 30px;
          color: #5A8D8C;
          padding: 5px 10px;
          font-weight: lighter;
          
          &:last-of-type {
            background-color: #5A8D8C;
            color: #ffffff;
            margin-right: 0px;
            border-radius: 20px;
            a{
              color: #ffffff; 
            }
          }
        }
      }
    }
    
    #scroll-point{
      position: absolute;
      right: 5vw;
      top: 60vh;
      transform: translateY(-50%);

      .point{
        position: relative;
        height: 1.25vh;
        width: 1.25vh;
        border-radius: calc(1.25vh / 2);
        background-color: #5a8d8c;
        border: 0.5vh solid #5a8d8c;
        margin-bottom: 10vh;
        
        
        &:last-of-type{
          &::after{
            display: none;
          }
        }
        
        &:first-of-type{
          &::before{
            display: none;
          }
        }
        
        &::after{
          content: "";
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          height: 5vh;
          width: 0.15vw;
          background-color: #5a8d8c;
          top: calc(100% + 0.5vh);
          // z-index: -1000;
          // bottom: 1vh;
        }
        &::before{
          content: "";
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          height: 5vh;
          width: 0.15vw;
          background-color: #5a8d8c;
          bottom: calc(100% + 0.5vh);
        }
      }
      .selected{
        
        border: 0.5vh solid #cb563e !important ; 
        background-color: #cb563e;

        &::after{
          background-color: #cb563e !important ;
        }
        &::before{
          background-color: #cb563e !important ;
        }
      }
      .last{
        background-color: #ffffff;
        animation: selectedHalo 1s forwards ease-out;

        @keyframes selectedHalo {

          0% {
            box-shadow: 0 0 0 0px rgba(203, 86, 62, 0.3);
          }
          
          100% {
            box-shadow: 0 0 0 10px rgba(203, 86, 62, 0.3);
          }
        }
      }
      .beforeLast{
        background-color: #ffffff;
        animation: diselectedHalo 1s forwards ease-out;

        @keyframes diselectedHalo {

          0% {
            box-shadow: 0 0 0 10px rgba(203, 86, 62, 0.3);
          }
          
          100% {
            box-shadow: 0 0 0 0px rgba(203, 86, 62, 0.3);
          }
        }
      }
    }
    
    #text-size{
      z-index: 1000;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      height: 80%;
      
      .text{
        margin-bottom: 4vh;
        background-color: #5a8d8c;
        height: 8vh;
        width: 8vh;
        border-radius: calc(8vh / 2);
        color: white;
        z-index: 1000;
        transition: box-shadow 0.5s;
        box-shadow: 0 0 0 0px rgba(203, 86, 62, 0.3);

        &:hover{
          box-shadow: 0 0 0 10px rgba(203, 86, 62, 0.3);
        }
      }
      .selected{
        animation: setSelected 0.5s forwards ease-out;

        @keyframes setSelected {

          0% {
            background-color: #5a8d8c;
          }
          
          100% {
            background-color: #cb563e;
          }
        }        
      }

      .diselected{
        animation: setDiselected 0.5s forwards ease-out;

        @keyframes setDiselected {

          0% {
            background-color: #cb563e;
          }
          
          100% {
            background-color: #5a8d8c;
          }
        }        
      }
      
      #small{
        font-size: small;
      }
      #medium{
        font-size: medium;
      }
      #large{
        font-size: large;        
      }
      
    }
    
  }
}

#son{
  button{
    img{
    z-index: 1000;
    position: absolute;
    height: 7vh;
    width : 7vh;
    left: 5vh;
    bottom: 4vh;
    
    /*&:hover{
      box-shadow: 0 0 0 5px rgba(203, 86, 62, 0.3);
    }*/    
    }
  }
  .mute{
    display: none;
  }
}


.switch {
  // z-index: 10000;
  position: absolute;
  width: auto;
  left: 20vh;
  bottom: 4vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  button {
    transition: box-shadow 2s;
    width: 10vh;
    height: 6vh;
    background-color: #5a8d8c;
    z-index: 100000;
    border-radius: calc(10vh / 2);
    border: 1px solid rgb(105, 105, 105);
    transition: box-shadow 0.2s;
    box-shadow: 50px 50px 0 0px rgba(203, 86, 62, 0.3), 0 0 0 0px rgba(203, 85, 62, 0.363);
  }

  p{
    font-size: 21px;
    margin-left: 1vw;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Nunito;
    font-style: normal;
    color: #5a8d8c;
  }
  &:hover > button{
    box-shadow: 50px 50px 0 200px rgba(203, 86, 62, 0.3), 0 0 0 10px rgba(203, 85, 62, 0.363);
  }
}
