/*
 * File Created: 2020-01-28 13:52:00
 * Author: Pierre MAUPIN
 * Copyright - 2020 Pierre MAUPIN
 */
#view4 {
  width: 100vw;
  height: 100vh;

  #view-4-middle {
    width: 80vw;
    height: 80vh;
    margin: 0px 10vw;
    border-bottom: 2px solid #5A8D8C;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-end;
    
    img {
      position: absolute;
      bottom: -2px;
    }
    
    #view-4-chart-container{
      height: 80%;
      flex: 1;
      margin: 0 5vw;
      display: flex;
      flex-direction: row;

      #view-4-flex-container{
        display: flex;
        flex:4;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: stretch;
        p{
          font-family: Nunito;
          font-style: normal;
          font-weight: bold;
          font-size: 30px;
          line-height: 29px;
          color: #426262;
          align-self: center;
        }
  
        span{
          color: #cb563e;
        }

        #view-4-free-rect{
          height: 70%;
          background-color: #CB563E;
          margin-right: 10px;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          padding-bottom: 10px;
          display: flex;
          align-items: center;
          flex-direction: column-reverse;
          p{
            text-transform: uppercase;
            font-family: Nunito;
            font-style: normal;
            font-weight: normal;
            font-size: 21px;
            line-height: 29px;
            color: #ffffff;
          }
        }
        #view-4-premium-rect{
          flex-grow: 3;
          background-color: #5A8D8C;
          margin-left: 10px;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          padding-bottom: 10px;
          display: flex;
          align-items: center;
          flex-direction: column-reverse;
          p{
            text-transform: uppercase;
            font-family: Nunito;
            font-style: normal;
            font-weight: normal;
            font-size: 21px;
            line-height: 29px;
            color: #ffffff;
          }
        }
      }
    }


    article {
      z-index: 7;
      flex: 1;
      margin: 5vh 5vw 5vh 0;
      transform: translateY(-25%);
      p{
        font-family: Nunito;
        font-style: normal;
        font-weight: normal;
        //font-size: 21px;
        line-height: 29px;
        color: #426262;
      }

      cite{
        font-family: Nunito;
        font-style: normal;
        font-weight: lighter;
        font-size: 12px;
        line-height: 29px;
        color: #426262;
      }

      span{
        color: #cb563e;
      }
    }
  }
}