#view5 {

  img{
    position: absolute;
  }
  
  height: 100vh;
  width: 100vw;
  
  #decor-view-5 {
    height: 80vh;
    width: 80vw;
    position: absolute;
    margin: 0 10vw;

    #fond-view-5{
        width: 95%;
        height: 95%;
        bottom: 0%;
        left: 0%;
        position: absolute;
    }

  }


  p {
    position: absolute;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    //font-size: 21px;
    line-height: 29px;
    color: #426262;
    margin: 0px !important;
    bottom: 7%;
    left: 20%;
    max-height: 60%;
    width: 30%;
    em{
      font-weight: bold;
      color: #CB563E;
    }
  }

  #view5-smartphone{
    right: 5%;
    bottom: 0%;
    height: 80%;
    object-fit: cover;
    object-position: 0 15vh;
    
  }

  #view5-croissant{
    left: 17%;
    bottom: 43%;
    width: 20%;
  }

  #view5-omelette{
    left: 40%;
    bottom: 50%;
    width: 5%;
  }

  #view5-pointille-1{
    left: 19%;
    bottom: 47%;
    width: 15%;
  }

  #view5-pointille-2{
    left: 38%;
    bottom: 47%;
    width: 10%;
  }

  #view5-cercle-1{
    left: 58%;
    width: 1%;
    bottom: 70%;
    animation: xAxis 80s infinite;
  }

  #view5-cercle-2{
    left: 10%;
    width: 3%;
    bottom: 38%;
    animation: yAxis 80s infinite;
  }

  #view5-cercle-3{
    left: 8%;
    width: 1%;
    bottom: 10%;
    animation: xAxis 80s infinite;
  }

  #view5-cercle-4{
    left: 60%;
    width: 2%;
    bottom: 50%;
    animation: yAxis 80s infinite;
  }

  button{
    width: 15%;
    // bottom: 50%;
    position: absolute;

    p{
      position: relative;
      min-width: 50%;
    }

    img{
      position: relative;
      width: 20%;
      height: 100%;  
    }

    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    &:hover{
      transform: scale(1.2, 1.2);
    }
    
    img {
      position: relative;
      width: 50%;
    }
  }

  #view5-button-hotel-a {
    left: 28%;  
    bottom: 55%;
  }

  #view5-button-hotel-b {
    left: 65%;  
    bottom: 47%;
  }

  .view5-circle{
    box-shadow: 0 0 3px 0 rgb(66, 98, 98);

    -webkit-animation: pulse-view5 2s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse-view5 2s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse-view5 2s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse-view5 2s infinite cubic-bezier(0.66, 0, 0, 1);
    // background-color: #e84c3d;
    border-radius: 50%;

  }

  @-webkit-keyframes pulse-view5 {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
  @-moz-keyframes pulse-view5 {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
  @-ms-keyframes pulse-view5 {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
  @keyframes pulse-view5 {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}

  @keyframes yAxis {
    50% {
      animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
      transform: translateY(10px);
    }
  }
  
  @keyframes xAxis {
    50% {
      animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
      transform: translateX(3%);
    }
  }


}