/*
 * File Created: 2020-01-28 13:52:00
 * Author: Pierre MAUPIN
 * Copyright - 2020 Pierre MAUPIN
 */
#view7 {
  width: 100vw;
  height: 100vh;
  //background-color: #ffffff;

  #view-7-middle {
    width: 80vw;
    height: 80vh;
    margin: 0px 10vw;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-end;
    img {
      position: absolute;
      bottom: -2px;
    }
    
    #view-7-chart-container{
      height: 80%;
      flex: 1;
      margin: 0 5vw;
      display: flex;
      flex-direction: row;

      #view-7-flex-container{
        display: flex;
        flex:3;
        flex-direction: column;
        flex-wrap: wrap;
      }
    }

    
    #view-7-rond-vert{
      z-index: 7;
      position: absolute;
      bottom: 20px;
      margin: 0 5vw;
      width: 30vw;
      height: 30vw;
      border-radius: 30vw;
      background-color: #5A8D8C;
      align-items: center;  
      
      #view-7-rond-blanc{
        z-index: 0;
        position: absolute;
        width: 22vw;
        height: 22vw;
        border-radius: 24vw;
        background-color: white;
        align-items: center;
        top: 4vw;
        left: 4vw;
        display: flex;
        flex-direction: column;
      }
      #view-7-rond-rouge{
        z-index: 0;
        position: absolute;
        width: 28vw;
        height: 28vw;
        border-radius: 28vw;
        background-color: #cb563e;
        align-items: center;
        top: 1vw;
        left: 1vw;      
      }

      #view-7-pmrtext{
        z-index: 100!important;
        color: #cb563e !important;
        text-align: center;
        margin-top: auto;
        margin-bottom: 2vw;
        font-size: 20px;
        em{
          font-weight: bold;
        }
      }
      #view-7-nonpmrtext{
        z-index: 100 !important;
        color: #5A8D8C!important;
        text-align: center;
        margin-top: 2vw;
        font-size: 20px;
        margin-bottom: auto;
        em{
          font-weight: bold;
        }
      }
      
    }
    


    article {
      position: absolute;
      left: 50%;
      width: 40%;
      bottom: 5%;
      z-index: 7;
      flex: 1;
      margin: 5vh 5vw 5vh 0;
      #view-7-source{
        color: #5A8D8C!important;
        font-size: 10px;
        line-height: 0px !important;
      }
    }
  }
}