<!--
File Created: 2020-01-28 09:49:11
Author: Christophe SONNEVILLE
Copyright - 2020 Christophe SONNEVILLE
-->
<section id="view2">
    <div id="second-view">
      <div id="decor-view-2">
        <div id="ecran-container">
          <img src="./assets/view2/ordinateur-view-2.svg" alt="ordinateur" id="ordi-view-2">
          <button id="button-hotel-a">
            <figcaption id="hotel-a-caption">Hôtel <em>du Château</em></figcaption>
            <img src="./assets/view2/button-hotel-a.svg" alt="bouton hotel a">
            <div class="circle" id="circle-a"></div>
          </button>
          <button id="button-hotel-b">
            <figcaption id="hotel-b-caption">Hôtel <em>du Centre</em></figcaption>
            <img src="./assets/view2/button-hotel-b.svg" alt="bouton hotel b">
            <div class="circle" id="circle-b"></div>
          </button>
        </div>
        
        <p id="speech" class="text-change">Pour commencer, il faudrait que je vois à quoi les <em>hôtels</em> ressemblent. J’espère qu’ils sont <em>réellement adaptés</em>. Lequel des deux me conseillerais-tu ?</p>
      </div>
    </div>
  </section>