<!--
File Created: 2020-01-28 09:49:11
Author: Christophe SONNEVILLE
Copyright - 2020 Christophe SONNEVILLE
-->
<section id="view2">
    <div id="second-view">
      <div id="decor-view-2">
        <div id="ecran-container">
          <img src="./assets/view2/ordinateur-view-2.svg" alt="ordinateur" id="ordi-view-2">
          <button id="button-hotel-a">
            <img src="./assets/view2/button-hotel-a.svg" alt="bouton hotel a">
            <div class="circle" id="circle-a"></div>
            <figcaption id="hotel-a-caption">Hotel <em>A</em></figcaption> 
          </button>
          <button id="button-hotel-b">
            <img src="./assets/view2/button-hotel-b.svg" alt="bouton hotel b">
            <div class="circle" id="circle-b"></div>
            <figcaption id="hotel-b-caption">Hotel <em>B</em></figcaption>
          </button>
        </div>
        
        <p id="speech" class="text-change">Comme tu dois t’en douter, en tant que <em>PMR</em> j’ai besoin de <em>quelques aménagements</em>. Peux-tu sélectionner un des deux hôtels pour voir ce qu’il propose?</p>
      </div>
    </div>
  </section>