<!--
File Created: 2020-01-28 09:49:11
Author: Christophe SONNEVILLE
Copyright - 2020 Christophe SONNEVILLE
-->
<section id="view11">
  <div id="view-11-middle">
    <img src="assets/view11/Vegetation-view11.svg" alt="" id="view-11-vegetation-img">
    <div class="view-11-button"  id="view-11-hotelA-img">
      <img src="assets/view11/HotelA-view11.svg" alt="" class="view-11-bat">
      <button id="view-11-button-hotel-a">
        <img src="./assets/view11/circle-view-11.svg" class="view-11-circle" id="view-11-circle-a">
        <figcaption id="view-11-hotel-a-caption">Hotel <em>A</em></figcaption>
      </button>
    </div>
    <div class="view-11-button"  id="view-11-hotelB-img">
      <img src="assets/view11/HotelB-view11.svg" alt="" class="view-11-bat">
      <button id="view-11-button-hotel-b">
        <img src="./assets/view11/circle-view-11.svg" class="view-11-circle" id="view-11-circle-b">
        <figcaption id="view-11-hotel-b-caption">Hotel <em>B</em></figcaption>
        <img src="assets/view11/view-11-icon1.svg" alt="" class="view-11-icon view-11-1">
        <img src="assets/view11/view-11-icon2.svg" alt="" class="view-11-icon view-11-2">
        <img src="assets/view11/view-11-icon3.svg" alt="" class="view-11-icon view-11-3">
      </button>
    </div>
    

    <div id="view-11-premium-red-tiny-dot"></div>
    <div id="view-11-premium-green-ring"></div>
    <div id="view-11-premium-white-ring"></div>


    <article>
      <p  class="text-change">Maintenant que j’ai récupéré la plupart des <span>renseignements</span>, 
        j’aimerais bien pouvoir les <span>retrouver facilement</span>. 
        Est-ce qu’un hôtel se démarque 
        sur cet aspect ?</p>
    </article>
  </div>
  <footer>
  </footer>
</section>