<!--
File Created: 2020-01-28 09:49:11
Author: Christophe SONNEVILLE
Copyright - 2020 Christophe SONNEVILLE
-->
<section id="view7">
  <div id="view-7-middle">
    
    <div id="view-7-rond-vert">        
      <div id="view-7-rond-rouge"></div>
      <div id="view-7-rond-blanc">        
        <p id="view-7-pmrtext">Clients <br> PMR <br> <em>6,7 nuitées</em></p>
        <p id="view-7-nonpmrtext">Clients de chambres classiques <br> <em>3,1 nuitées</em></p>  
      </div>
    </div>


    <article>
      <p class="text-change"><span>En moyenne, </span>les clients à mobilité réduite dorment<span> 6,7 nuitées </span> 
        (par voyage de plus d'une nuit en France) dans un même hôtel.<br><br>
        C’est <span><em id ="view-7-2x"> 2x</em> plus </span>que les clients séjournant dans des chambres classiques. <br><br>
        <em id="view-7-source">Source : Le Réseau de veille en tourisme Chaire de tourisme Transat, ESG UQAM. « Tourisme Accessible. 
        Portrait de l’offre, de la commercialisation, des défis et des enjeux », (janvier 2015)</em></p class="text-change">
    </article>

  </div>
</section>