
#le-laisser {
  height: 70px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  bottom: 40%;
  right: 22%;
}

#le-laisser > button {
  width: 100%;
  border-radius: 151px;
}


#aller-le-voir {
  height: 70px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  bottom: 50%;
  right: 22%;
  line-height: 250%;
}

#aller-le-voir > button {
  width: 100%;
  border-radius: 151px;
}