
#le-laisser-4 {
    height: 73px;
    width: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    bottom: 125%;
    right: 175%;
  }
  
  #le-laisser > button {
    width: 100%;
    border-radius: 151px;
  }

  
#insister {
    height: 50px;
    width: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    bottom: 145%;
    right: 238%;
    text-align: center;
}

#insister > button {
    width: 100%;
    border-radius: 151px;
}