<section id="view6-premium">
    <div id="decor-view-6">
      <div id="fond-view-6-premium"></div>
      <img src="./assets/view6-premium/smartphone.svg" id="view6premium-smartphone">

      <img src="./assets/view6-premium/circle-1.svg" alt="" id="view6p-circle-1">
      <img src="./assets/view6-premium/circle-2.svg" alt="" id="view6p-circle-2">
      <img src="./assets/view6-premium/circle-3.svg" alt="" id="view6p-circle-3">
      
      <button><img src="./assets/view6-premium/like-button.svg" alt="" id="view6premium-like"></button>
      <p id="view6-speech">D’après les <em>photos publiées</em> sur le <em>compte instagram</em> de l’hôtel B, leur buffet a l’air délicieux. Je vais me régaler !
      </p>
    </div>
    <footer>
      <button id="view6p-next-button">
        Quelques chiffres
      </button>
    </footer>
  </section>