<svg
  width="81"
  height="81"
  viewBox="0 0 81 81"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <g clip-path="url(#clip0)">
    <path
      d="M40.3051 66.9155L13.6948 40.3051L40.3051 13.6948"
      stroke="black"
      stroke-width="7"
      stroke-miterlimit="10"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </g>
  <defs>
    <clipPath id="clip0">
      <rect
        y="40.3051"
        width="57"
        height="57"
        transform="rotate(-45 0 40.3051)"
        fill="white"
      />
    </clipPath>
  </defs>
</svg>
