<li class="slide stop-scroll">
    <div class='key-slide-content'>
    <img src="img/decors/decor_1900.webp" class="inslide-decor">

    <img src="img/personnages/Pablo_periode_1.png" style="width: 6vw; left: 42vw; bottom: 7vw; transform: scaleX(-1);">
    <img src="img/personnages/Emma_periode_1.png" style="width: 6vw; left: 52vw; bottom: 7vw;">

    <img id="lettre-icon" class="next" src="img/decors/lettre.png" style="width: 4vw; left: 60.5vw; bottom: 31.7vh;">
    <img id="livre-icon" class="next2" src="img/decors/livre.png" style="width: 4vw; left: 35vw; bottom: 31.7vh;">

    <img id="textBox1" class="textBox">
    <span id="textBoxTyped1" class="textBoxTyped"></span>
    </div>
</li>

