<li class="slide">
    <div class='key-slide-content'>
        <img src="img/decors/decor_nowend.webp" class="inslide-decor">
        <img src="img/personnages/Pablo.png" style="width: 7vw; left: 42vw; bottom: 7vw; transform: scaleX(-1);">
        <img src="img/personnages/Emma.png" style="width: 6.5vw; left: 52vw; bottom: 7vw">

        <img id="textBox10" class="textBox">
        <span id="textBoxTyped10" class="textBoxTyped"></span>

        <a href="credits" id="credits">Crédits</a>

        <style>
            #credits {
                transition: opacity 1s ease;
                opacity: 0;
                color: #002B5E;
                font-size: 2vw;
                bottom: 5vh;
                left: 48vw;
                font-weight: bolder;
            line-height: initial;
        }
        #credits:hover {
            color: #DD4C73;
        }
    </style>
    </div>
</li>
