<li class="slide" style="background-color: #002B5E !important;">

    <img src="img/decors/decor.png" style="width: 80vw; height: 100vh; left: 10vw; top: 0">
    <img src="img/personnages/Pablo.png" style="width: 10vw; left: 37vw; bottom: 5vw; transform: scaleX(-1);">
    <img src="img/personnages/Emma.png" style="width: 9vw; left: 60vw; bottom: 5vw">

    <img id="textBox10" class="textBox">
    <span id="textBoxTyped10" class="textBoxTyped"></span>

</li>
