<li class="slide">

    <img src="img/decors/decor_now.webp" class="inslide-decor">

    <div class="invisibleOnCover" style="width: 100%; height: 100%; left: 0; top: 0;">
    <img src="img/personnages/perso_05_1.gif" class="persoLeft">
    <img src="img/personnages/Pablo.png" class="appearAfter6s" style="height: 21.7vw; left: 37vw; bottom: 7vw; transform: scaleX(-1); opacity: 0;">

    <img src="img/personnages/perso_05_2.gif" class="persoRight">
    <img src="img/personnages/Emma.png" class="appearAfter6s" style="width: 6.5vw; left: 60vw; bottom: 7vw">
    </div>

    <img id="textBox0" class="textBox">
    <span id="textBoxTyped0" class="textBoxTyped"></span>

</li>
