<li class="slide">

    <img src="img/decors/decor.png" style="width: 100vw; height: 120vh; left: 0; top: -10vh">

    <img src="img/personnages/PNG/PNG/perso_04.png"
        style="width: 10vw; left: 37vw; bottom: 5vw; transform: scaleX(-1);">
    <img src="img/personnages/PNG/PNG/perso_01.png" style="width: 9vw; left: 60vw; bottom: 5vw">

    <img src="img/boite_dialogue/boite_dialogue-perso_04.png" style="width: 25vw; left :5vw; bottom: 150px;">

</li>