<li class="slide">

    <img src="img/decors/decor_now.webp" class="inslide-decor">
    <img src="img/personnages/Pablo.png" style="width: 7vw; left: 37vw; bottom: 7vw; transform: scaleX(-1);">
    <img src="img/personnages/Emma.png" style="width: 6.5vw; left: 60vw; bottom: 7vw">

    <img id="textBox0" class="textBox">
    <span id="textBoxTyped0" class="textBoxTyped"></span>

</li>
