/* Texte de reprimande */
#e_texte-reprimande > p {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 23px;
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  /* bottom: 12%; */
  bottom : 77%;
  right: 28%;
}

/* Button next scene */

#e_next {
  height: 40px;
  width: 150px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  bottom: 17%;
  right: 30%;
  line-height:15px;
}

/* Effet shake/secousse @see https://css-tricks.com/snippets/css/shake-css-keyframe-animation/ */
.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  animation-iteration-count: infinite;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 3px, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, -3px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, -2px, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 2px, 0);
  }
}
