
#le-laisser {
    height: 73px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    bottom: 61%;
    right: 42%;
  }
  
  #le-laisser > button {
    width: 100%;
    border-radius: 151px;
  }

  
#insister {
    height: 73px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    bottom: 61%;
    right: 55%;
    line-height: 250%;
}

#insister > button {
    width: 100%;
    border-radius: 151px;
}