<!--
File Created: 2020-01-28 09:49:11
Author: Christophe SONNEVILLE
Copyright - 2020 Christophe SONNEVILLE
-->
<section id="view5">
      <div id="decor-view-5">
        <div id="fond-view-5"></div>

        <img src="./assets/view5/smartphone.svg" alt="" id="view5-smartphone">
        <img src="./assets/view5/croissant.svg" alt="" id="view5-croissant">
        <img src="./assets/view5/omelette.svg" alt="" id="view5-omelette">
        <img src="./assets/view5/pointille-1.svg" alt="" id="view5-pointille-1">
        <img src="./assets/view5/pointille-2.svg" alt="" id="view5-pointille-2">

        <img src="./assets/view5/cercle-1.svg" alt="" id="view5-cercle-1">
        <img src="./assets/view5/cercle-2.svg" alt="" id="view5-cercle-2">
        <img src="./assets/view5/cercle-3.svg" alt="" id="view5-cercle-3">
        <img src="./assets/view5/cercle-4.svg" alt="" id="view5-cercle-4">

        <button id="view5-button-hotel-a">
            <p>Hôtel <em>du Château</em></p> 
            <div class="view5-circle circle" alt="bouton hotel a"></div>
        </button>
        <button id="view5-button-hotel-b">
            <p>Hôtel <em>du Centre</em></p> 
            <div class="view5-circle circle" alt="bouton hotel b"></div>
        </button>
        
        <p id="speech" class="text-change">Le <em>petit-déjeuner</em> est indispensable pour débuter ma journée. Penses-tu que je peux retrouver la composition du buffet sur internet ?
        </p>
  </section>