
#page11{

	background-image: url(../img/fond_slide11.jpg);
	background-repeat: no-repeat;
	background-size:100%;
	width:100%;
	height:100%;
}


#materiaux1{
	position: absolute;
	width: 35%;
	height: 60%;
	left:0%;
	top:20%;
}


#materiaux2{
	position: absolute;
	width: 35%;
	height: 60%;
	top:20%;
	left : 31%;
}


#materiaux3{
	position: absolute;
	width: 35%;
	height: 60%;
	top:20%;
	right:0%;
}



p{
    font-family:"Parisienne";
    color:black;
    text-align: justify;

}



#ecume{
 
 	position: absolute;
    left:7%;
    top: 75%;

}

#brise{
	position: absolute;
    left:38%;
    top: 75%;
}

#rive{
	position: absolute;
    right:9%;
    top: 75%;
}


@media screen and (max-aspect-ratio: 16/9){
    p{
        font-size: 3vw;
    }
}
@media screen and (min-aspect-ratio: 16/9){
    p{
        font-size: 5vh;
    }
}




/*
#ecume{
    left:7%;
    top:75%;
}

#brise{
    left:38%;
    top:75%;
}

#rive{
    right:9%;
    top:75%;
}*/

