
#page4 {
	background-image: url("../img/fond_rencontre_archi.png");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Vibur;
	color: #255A85;

}

#page4 p {
	z-index: 200;
    text-align : center;
    text-align: justify;
    font-style: normal;
	font-weight: normal;

}

#img-journaliste {
	position: absolute;
	width : 13%;
	height : 40%;
	top : 58%;
	left : 1%;
	z-index: 200;
	visibility: hidden;

}

#trait-dialogueJ {
	position: absolute;
	width: 1%;
	height: 20%;
	left: 15%;
	top: 64%;
	visibility: hidden;

}

#container-dialogueJ {
	position: absolute;
	width: 60%;
	height: 10%;
	left: 17%;
	top: 63%;
	line-height: 35%;
	visibility: hidden;

}


#img-architecte {
	position: absolute;
	width : 30%;
	height : 40%;
	top : 57%;
	left : 77%;
	z-index: 200;
	visibility: hidden;

}


#trait-dialogueA {
	position: absolute;
	width: 1%;
	height: 13%;
	left: 84%;
	top: 66%;
	visibility: hidden;

}

.container-dialogueA {
	position: absolute;
	width: 55%;
	height: 13%;
	left: 27%;
	top: 66%;
	line-height: 35%;
	visibility: hidden;

}



/* Bouton dialogue suivant */
.suivant {
	position: absolute;
	top: 90%;
}

 #notesSuivantes {
	position: absolute;
	left: 65%;
	padding-top: 0.2%;
	visibility: hidden;
}

 #btnSuivant {
	position: absolute;
	width: 4%;
	height: 5%;
	left: 60%;
	visibility: hidden;
}

 #btnSuivant:hover {
	cursor: pointer;
}
/* Media queries pour le responsive */

@media screen and (max-aspect-ratio: 16/9){
   
    #page4 p, #texte{
        font-size: 1.8vw;
    }

    #dialogueSuivant {
        font-size: 1.8vw;
    }


}


@media screen and (min-aspect-ratio: 16/9){
    
   #page4 p, #texte{
        font-size: 3vh;
    }

    #dialogueSuivant {
        font-size: 3vh;
    }

}





















