#page5 {
	background-image: url("../img/background.png");
	background-repeat: no-repeat;
	background-size: cover;

}

#img-journaliste {

}

#architecte_slide5 {
	position: absolute;
	width : 30%;
	height : 40%;
	top : 60%;
	left : 70%;
	z-index: 200;


}



#page5 p {
	font-family:Vibur;
    color:#92C2D2;
    text-align: justify;
}

#page5 p:hover {
    color:red;
}




#container1-slide5 p{
	position: absolute;
	left: 24%;
	top: 20%;
}

#container1-slide5 p:hover{
	left: 27%;
	top: 20%;
	transition:0.3s;
}

#container2-slide5 p{
	position: absolute;
	left: 31%;
	top: 40%;
}

#container2-slide5 p:hover{
	left: 34%;
	top: 40%;
	transition:0.3s;
}


#container3-slide5 p{
	position: absolute;
	left: 29%;
	top: 60%;
}

#container3-slide5 p:hover{
	left: 32%;
	top: 60%;
	transition:0.3s;
}






#container1-slide5 img{
	position: absolute;
	left: 14%;
	top: 17%;
}

#container2-slide5 img{
	position: absolute;
	left: 21%;
	top: 37%;

}


#container3-slide5 img{
	position: absolute;
	left: 19%;
	top: 57%;
}



#next6, #next7, #next8{
	background-color: transparent;
	border-style: none;
}

@media screen and (max-aspect-ratio: 16/9){
   
    #page5 p{
        font-size: 3vw;
    }
}


@media screen and (min-aspect-ratio: 16/9){
    
   #page5 p{
        font-size: 4.2vh;
    }
}








