#next2{
  background-color: inherit;
  position:absolute;
  bottom: 8%;
  left: 33%;
  width: 34%;
}
#page-1{
  background-image: url('../img/background1.png');
  background-size: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (max-aspect-ratio: 16/9){
    #next2{
        font-size: 1.8vw;
    }
}
@media screen and (min-aspect-ratio: 16/9){
    #next2{
        font-size: 3vh;
    }
}
