#page5 {
	background-image: url("../img/background.png");
	background-repeat: no-repeat;
	background-size: cover;

}

#journaliste_slide5 {
	position: absolute;
	width : 15%;
	height : 40%;
	top : 62%;
	left : 5%;
	z-index: 200;
}

#architecte_slide5 {
	position: absolute;
	width : 30%;
	height : 40%;
	top : 60%;
	left : 70%;
	z-index: 200;


}


#page5 p {
	font-family:Vibur;
    color:#92C2D2;
    text-align: justify;
}



#container1-slide5 img{
	float:left;
	width:10%;
	height:10%;
	margin-right:7%;
}

#container1-slide5{
	position: absolute;
	left: 20%;
	top: 20%;
}

#container1-slide5:hover{
	left: 24%;
	top: 20%;
	transition:0.5s;
	cursor: pointer;
}



#container2-slide5 img{
	float:left;
	width:15%;
	height:15%;
	margin-right:10%;
}

#container2-slide5{
	position: absolute;
	left: 24%;
	top: 40%;
}

#container2-slide5:hover{
	left: 28%;
	top: 40%;
	transition:0.5s;
	
}




#container3-slide5 img{
	float:left;
	width:12%;
	height:12%;
	margin-right:9%;
}

#container3-slide5{
	position: absolute;
	left: 26%;
	top: 60%;
}

#container3-slide5:hover{
	left: 30%;
	top: 60%;
	transition:0.5s;
}

#container3-slide5 p:hover, #container3-slide5 img:hover, #container2-slide5 p:hover, #container2-slide5 img:hover, #container1-slide5 p:hover, #container1-slide5 img:hover{
	cursor: pointer;
}






#next6, #next7, #next8{
	background-color: transparent;
	border-style: none;
}

@media screen and (max-aspect-ratio: 16/9){
   
    #page5 p{
        font-size: 2.8vw;
    }
}


@media screen and (min-aspect-ratio: 16/9){
    
   #page5 p{
        font-size: 4vh;
    }
}


