#page10 {
	background-image: url("../img/fond_slide10.png");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Vibur;
	color: #255A85;
}

#slide10-date {
	width : 4%;
	height: 4%;
	position: absolute;
	top : 2%;
	right: 2%;
}


#page10 p {
	z-index: 200;
    text-align : center;
    text-align: justify;
    font-style: normal;
	font-weight: normal;
}


#slide10-img-journaliste {
	position: absolute;
	width : 13%;
	height : 40%;
	top : 58%;
	left : 1%;
	z-index: 200;

}

#slide10-trait-dialogueJ {
	position: absolute;
	width: 1%;
	height: 10%;
	left: 15%;
	top: 64%;
	/*visibility: hidden;*/

}

 #slide10-container-dialogueJ {
	position: absolute;
	width: 60%;
	height: 10%;
	left: 17%;
	top: 63%;
	line-height: 35%;
	/*visibility: hidden;*/

}



#slide10-img-decorateur {
	position: absolute;
	width : 30%;
	height : 40%;
	top : 57%;
	left : 75%;
	z-index: 200;

}


#slide10-trait-dialogueD {
	position: absolute;
	width: 1%;
	height: 15%;
	left: 84%;
	top: 66%;
	visibility: hidden;

}

.slide10-container-dialogueD {
	position: absolute;
	width: 52%;
	height: 13%;
	left: 30%;
	top: 66%;
	line-height: 35%;
	visibility: hidden;

}



/* Bouton dialogue suivant */
.slide10-suivant {
	position: absolute;
	top: 90%;
}

 #slide10-notesSuivantes {
	position: absolute;
	left: 65%;
	padding-top: 0.2%;

}

 #slide10-btnSuivant {
	position: absolute;
	width: 3%;
	height: 5%;
	left: 61%;
}

 #slide10-suivant:hover {
	cursor: pointer;
}

/* Media queries pour le responsive */

@media screen and (max-aspect-ratio: 16/9){
   
    #page10 p{
        font-size: 1.8vw;
    }


}


@media screen and (min-aspect-ratio: 16/9){
    
   #page10 p{
        font-size: 3vh;
    }

}








