/* ------- Important ! Regardez bien à la fin de ce CSS pour des règles permettant de ----------- */
/* contraindre le format des slides affichés sur la page web */


/* normalisation des marges et padding pour simplifier le positionnement des éléments */
*{
    padding:0;
    margin:0;
}

body{
    color: black;
}

#container{
    background-image: url('../img/background.png');
    position: relative; /* pour permettre le positionnement en absolu des autres éléments */
    overflow: hidden;
}


/* ---------- media queries importantes pour le responsive facile :-D ----------------- */
/* Vous pouvez bien sûr l'adapter pour d'autres ratio que 16:9 */

/* Cette media query permet de s'assurer qu'on remplit toujours la largeur de la fenêtre,
tant qu'on est en dessous de l'apect ratio 16/9 */
@media screen and (max-aspect-ratio: 16/9){
    #container{
        margin-top: calc((100vh - 100 * 9vw / 16) / 2);
        width: 100vw;
        height: calc(100 * 9vw / 16);
    }
    section{
        width: 100vw;
        height: calc(100 * 9vw / 16);
    }

    /* On fixe une taille de police par défaut pour le body qui servira de base à toutes
    les autres tailles de police. Celle-ci est proportionelle à la largeur ici. */
    body{
        font-size: 9vw;
    }
    .annee{
        font-size: 3.25vw;
    }
}

/* Cette media query permet de s'assurer qu'on remplit toujours la hauteur de la fenêtre, quand on est au
dessus de l'apect ratio 16/9 */
@media screen and (min-aspect-ratio: 16/9){
    #container{
        margin-left: calc((100vw - 100 * 16vh / 9) / 2);
        width: calc(100 * 16vh / 9);
        height: 100vh;

    }
    section{
        width: calc(100 * 16vh / 9);
        height: 100vh;
    }

    /* On fixe une taille de police par défaut pour le body qui servira de base à toutes
    les autres tailles de police. Celle-ci est proportionelle à la hauteur ici. */
    body{
        font-size: 16vh;
    }

    .annee{
        font-size: 4.5vh;

    }
}

body {
    background-color: #282a2d;
    margin: 0;
    overflow: hidden;
    perspective: 1000px;
}
.site-wrap {
    transition: transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}
.panel-wrap {
    height: 100vh;
    width: 100vw;
}

.panel-wrap {
    perspective: 2000px;
    transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
.panel {
    position: absolute;
    transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    will-change: transform;
}
.panel:before {
    background-color: transparent;
    bottom: 0;
    content: "";
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: background-color 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: 2;
}
.panel[data-x-pos="-2"] {
    left: -200%;
}
.panel[data-x-pos="-1"] {
    left: -100%;
}
.panel[data-x-pos="1"] {
    left: 100%;
}
.panel[data-x-pos="2"] {
    left: 200%;
}
.panel[data-y-pos="-2"] {
    top: 200%;
}
.panel[data-y-pos="-3"] {
    top: 300%;
}
.panel[data-y-pos="-4"] {
    top: 400%;
}
.panel[data-y-pos="-5"] {
    top: 500%;
}
.panel[data-y-pos="-6"] {
    top: 600%;
}
.panel[data-y-pos="-1"] {
    top: 100%;
}
.panel[data-y-pos="1"] {
    top: -100%;
}
.panel[data-y-pos="2"] {
    top: -200%;
}
.panel__nav {
    cursor: pointer;
}
.panel__nav:hover {
    opacity: 1;
}

.annee{
    position:absolute;
    top:4%;
    right:3.5%;
    color: #265984;
    font-family: Vibur;
}