#page2{
    background-image: url(../img/Bombardement.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#texteBombardement{
    position: absolute;
    width: 65%;
    height: 19%;
    left: 8%;
    top: 73%;
}

#texteBombardement p{
    font-family: Vibur;
    color: #265984;
}

#next3-img{
     position: absolute;
     width: 4%;
     left : 76%;
     top : 90%;
 }
#next3-texte{
    position: absolute;
    left : 82%;
    top : 91%;
    font-family: Vibur;
    color: #92C2D2;
}

.next3{
    cursor: pointer;
}


@media screen and (max-aspect-ratio: 16/9){
    #texteBombardement p, #next3-texte{
        font-size: 2vw;
    }
}
@media screen and (min-aspect-ratio: 16/9){
    #texteBombardement p, #next3-texte{
        font-size: 3.4vh;
    }
}
