#page9{
    background-image: url(../img/fond_slide9.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#next10{
  position: absolute;
  left:5%;
}
#image_salon_petit{
  position: absolute;
  top:10%;
  left:0%;
  width: 6%;
  height: auto;
  z-index: 1;
}

#image_bureau_petit{
  position: absolute;
  top:20%;
  left:0%;
  width: 15%;
  height: auto;
  z-index: 2;
}

#image_comission_petit{
  position: absolute;
  top:60%;
  left:0%;
  width: 6.5%;
  height: auto;
  z-index: 3;
}

#texte_slide9{
    position: absolute;
    width:68%;
    height:12%;
    right:16%;
    top: 87%;
    padding : 0.5%
}
#texte_slide9 p{
    font-family:"Parisienne";
    color:black;
    text-align: justify;
}
@media screen and (max-aspect-ratio: 16/9){
    #texte_slide9 p{
        font-size: 1.7vw;
    }
}
@media screen and (min-aspect-ratio: 16/9){
    #texte_slide9 p{
        font-size: 3vh;
    }
}
