#next14-img{
    position: absolute;
    width: 4%;
    left : 90%;
    top : 78%;
}
#next14-texte{
    position: absolute;
    left : 87%;
    top : 87%;
    font-family: Vibur;
    color: #92C2D2;
}

.next14{
    cursor: pointer;
}

#texte13{
    font-family: Vibur;
    color: #265984;
}


@media screen and (max-aspect-ratio: 16/9){
    #texte13, #next14-texte{
        font-size: 2vw;
    }
}
@media screen and (min-aspect-ratio: 16/9){
    #texte13, #next14-texte{
        font-size: 3.4vh;
    }
}

#img-journaliste13 {
    position: absolute;
    width : 13%;
    height : 40%;
    top : 58%;
    left : 1%;
    z-index: 200;
}

#trait-dialogueJ13 {
    position: absolute;
    width: 1%;
    height: 20%;
    left: 15%;
    top: 64%;
}

#texte13 {
    position: absolute;
    width: 60%;
    height: 10%;
    left: 17%;
    top: 63%;
}