#page-3{
    position: relative;
}

/* cartes */
#cartes{
    position: absolute;
    top:0%;
    left:0%;
    width:100%;
    height:100%;
}
.carte{
    position: absolute;
    opacity: 0;
    top:0%;
    left:0%;
    width:100%;
    height:100%;
}
#carte1905{
    opacity:1;
}

/* boutons */
form{
    z-index: 10;
    right:0%;
    width:auto;
    height:50%;
    float:right;
}
form>label{
    position:absolute;
    right:10%;
    font-family: Vibur;
    color: #265984;
    opacity:0;
}
#label1905{
    opacity:1;
}
.imageBouton{
    position: absolute;
    right:3.5%;
    width:5%;
    cursor:pointer;
}
.imageBouton:hover {
	-webkit-transform:scale(1.25); /* Safari et Chrome */
	-moz-transform:scale(1.25); /* Firefox */
	-ms-transform:scale(1.25); /* Internet Explorer 9 */
	-o-transform:scale(1.25); /* Opera */
	transform:scale(1.25);
	transition:0.5s;
}
#imageBouton1905, #label1905{
    top:21%;
}
#imageBouton1924, #label1924{
    top:34%;
}
#imageBouton1944, #label1944{
    top:47%;
}
#imageBouton1952, #label1952{
    top:60%;
}
#imageBouton1957, #label1957{
    top:73%;
}

/* bouton suivant */
#next4{
    visibility:hidden;
    cursor:pointer;
}
#next4-img{
    position: absolute;
    width: 4%;
    left : 70%;
    top : 90.5%;
    visibility:hidden;
}
#next4-texte{
    position: absolute;
    left : 76%;
    top : 92%;
    font-family: Vibur;
    color: #92C2D2;
    visibility:hidden;
}

/* textes */
#premierTexte, #deuxiemeTexte{
    font-family: Vibur;
    font-style: normal;
    font-weight: normal;
    font-size: 5.5%;
    line-height: 130%;

    height:5%;
    width:66%;

    color: #265984;
}

#premierTexte{
    position: absolute;
    top:3.4%;
    left:2.5%;
}
#deuxiemeTexte{
    position: absolute;
    top:91%;
    left:2.5%;
    opacity: 0;
}

@media screen and (max-aspect-ratio: 16/9){
    #premierTexte, #deuxiemeTexte, #page3 label{
        font-size: 3vw;
    }#next4-texte{font-size: 2vw;}
}
@media screen and (min-aspect-ratio: 16/9){
    #premierTexte, #deuxiemeTexte, #page3 label{
        font-size: 5vh;
    }
    #next4-texte{
        font-size: 3.4vh;
    }
}
