#credits-section {
    background-color: #F6F5F5;
    /* text-align: center; */
    font-family: 'NimbusSanLRegular';
    position:relative;
}

.centerize {
    text-align: center;
}

#tableau-logos {
    margin:auto;
    margin-top:9vh;
}

#logos-ecoles {
    vertical-align: middle;
}

#logo-big-audencia {
  position: absolute;
  width: 269px;
  height: 71px;
  left: 417px;
  top: 354px;
}

#logo-big-polytech {
  position: absolute;
  width: 195px;
  height: 124px;
  left: 1234px;
  top: 318px;
}

#logo-big-agr {
  position: absolute;
  width: 146px;
  height: 216px;
  left: 887px;
  top: 282px;
}

#logos-ecoles>td {
    padding-bottom:5vh;
}

.intro-text {
  font-family: NimbusSanL;
  font-size: 30px;
  line-height: 50px;
  /* identical to box height, or 167% */
  display: flex;
  align-items: center;
  color: #1E1E1E;
}
#intro-1{
  position: absolute;
  width: 171px;
  height: 50px;
  left: 875px;
  top: 81px;
}
#intro-2{
  position: absolute;
  width: 202px;
  height: 50px;
  left: 859px;
  top: 121px;
}
#noms {
    position: absolute;
    vertical-align:top;
    font-family: NimbusSanL;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 39px;
    /* padding-top: 30vh; */
    /* padding-bottom: 2%; */
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #1E1E1E;
}
#nom-audencia {
position: absolute;
width: 189px;
height: 78px;
left: 458px;
top: 525px;
}

#nom-agr {
  position: absolute;
  width: 218px;
  height: 78px;
  left: 850px;
  top: 525px;
}

#nom-polytech {
  position: absolute;
  width: 257px;
  height: 195px;
  left: 1204px;
  top: 513px;
}
.ligne_verticale1
{
  position: absolute;
  width: 397px;
  height: 0px;
  left: 787px;
  top: 300px;
  border: 1px solid #969696;
  width:5px;
  transform: rotate(90deg);
}
.ligne_verticale2
{
  position: absolute;
    width: 397px;
    height: 0px;
    left: 1134px;
    top: 300px;
    border: 1px solid #969696;
    transform: rotate(90deg);
}
#logo-audencia{
    width:90%;
    height:auto;
}

#logo-agr {
    width: 60%;
    height:auto;
}

#logo-polytech {
    width:85%;
    height:auto;
}

.logos-partenaires {
    width:70%;
    height:auto;
    left:15%;
    position:absolute;
    display: inline-block;
    bottom: 10vh;;
    text-align: center;
    /* margin-bottom:25px; */
}


.logos-partenaires img {
    margin-left: 2vw;
    margin-right: 2vw;
    vertical-align: middle;
}

td p {
    margin-bottom:2vh;
}
