#dance-wrapper {
	height: 100vh;
	z-index: 1;
}

#img-dancers {
	width: 5000px;
	position: absolute;
	z-index: 1;
}

#img-dancers-annotations {
	width: 5000px;
	position: absolute;
	z-index: 2;
	opacity: 0;
	transition-property: opacity;
  transition-duration: 1s;
}

#img-dancers-annotations:hover {
	opacity: 1;
}

.sound-icon {
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: 2;
}
