#home-section {
	position: relative;
	background-color: #1E1E1E;
}

#home-logo {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#arrow-down {
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 1;
	width: 50px;
	height: 50px;
	transition-property: opacity;
  transition-duration: 1s;
}

#arrow-down:hover {
	opacity: 0.5;
}
