#home-wrapper {
	text-align: center;
	margin: auto;
}

#home-logo-wrapper {
	position: relative;
	margin: auto;
}

#home-logo {
	z-index: 2;
}

#home-experience {
	font-size: 70px;

	position: absolute;
	top: 20px;
	left: 40%;

	transform: rotate(45deg);
	-webkit-transform: rotate(45deg); /* Safari */
	-moz-transform: rotate(45deg); /* Firefox */
	-ms-transform: rotate(45deg); /* IE */
	-o-transform: rotate(45deg); /* Opera */

	z-index: 1;
}

.fa-chevron-circle-down {
	color: black;
	position: absolute;
	left: 50%;
	top: 91.02%;
	bottom: 4.1%;
}
