#loading-section {
    text-align: center;
}

#sound-icon-wrapper {
    margin: auto;
    height: auto;
    width: 100px;
}

.bar {
    fill: white;
    border-radius: 5px;
}


/* Keyframes */
@keyframes child-1 {
    from { height: 4px; transform: translate(10px, 8px); }
    to   { height: 10px; transform: translate(10px, 5px); }
}
@keyframes child-2 {
    from { height: 20px; transform: translate(14px, 0px); }
    to   { height: 10px; transform: translate(14px, 5px); }
}
@keyframes child-3 {
    from { height: 4px; transform: translate(18px, 8px); }
    to   { height: 16px; transform: translate(18px, 2px); }
}
@keyframes child-4 {
    from { height: 2px; transform: translate(22px, 9px); }
    to   { height: 14px; transform: translate(22px, 3px); }
}
@keyframes child-5 {
    from { height: 16px; transform: translate(26px, 2px); }
    to   { height: 6px; transform: translate(26px, 7px); }
}
@keyframes child-6 {
    from { height: 4px; transform: translate(30px, 8px); }
    to   { height: 12px; transform: translate(30px, 3px); }
}
@keyframes child-7 {
    from { height: 2px; transform: translate(34px, 9px); }
    to   { height: 12px; transform: translate(34px, 3px); }
}

.bar:nth-child(2) {
    animation: child-1 0.8s linear alternate infinite;
}
.bar:nth-child(3) {
    animation: child-2 0.6s linear alternate infinite;
}
.bar:nth-child(4) {
    animation: child-3 0.9s linear alternate infinite;
}
.bar:nth-child(5) {
    animation: child-4 0.65s linear alternate infinite;
}
.bar:nth-child(6) {
    animation: child-5 0.75s linear alternate infinite;
}
.bar:nth-child(7) {
    animation: child-6 0.5s linear alternate infinite;
}
.bar:nth-child(8) {
    animation: child-7 0.85s linear alternate infinite;
}