#menu-section {
  position: relative;
  z-index: 10;
}

.expChoice {
  cursor: pointer;
  position: relative;
  float: left;
  height: 100vh;
  width: 33.33%;
  overflow-y: hidden;
}

.expChoice a {
  text-decoration: none;
  color: black;
}

.expChoice#expChoiceExpo {
  background-color: #FFCB13;
 }
.expChoice#expChoiceMusique {
  background-color: #F46D36;
}
.expChoice#expChoiceDance {
   background-color: #7D98DD;
}


.img-menu {
  z-index: 1; /* below crayon */

  /* centering with aspect ratio */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 100%;
  filter: brightness(80%);

}

.img-menu-crayon {
  z-index: 2; /* over image */

  /* centering with aspect ratio */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 100%;
}

.hachure {
  z-index: 3; /* over image */

  /* centering with aspect ratio */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  opacity: 0;
  transition: opacity 3s;

  height: 100%;
}

.menu-hover {
  z-index: 3;

  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  font-size: 17px;
  line-height: 26px;
  font-family: "NimbusSanL";

  opacity: 0;
  transition: opacity 0.5s;
}

.menu-hover:hover {
  opacity: 1;
}

.menu-hover {
  text-align: center;
}

.menu-hover h2:first-child {
  font-weight: normal;
}

.menu-hover h2:last-child {
  font-weight: bold;
}

.hover-text-wrapper {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

#hover-expo {
  background: #FFCB13;
}
#hover-music {
  background: #F46D36;
}
#hover-dance {
  background: #7D98DD;
}

.fullscreen{
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.menu-workshop-title#title-musique {
  width: 178px;
  height: 65px;
}

.menu-workshop-title#title-danse {
  width: 153px;
  height: 75px;
}

.menu-workshop-title#title-expo {
  width: 226px;
  height: 82px;
}

.menu-workshop-author#author-expo {
  width: 395px;
  height: 158px;
}
.menu-workshop-author#author-musique {
  width: 277px;
  height: 128px;
}
.menu-workshop-author#author-danse {
  width: 379px;
  height: 191px;
}


.menu-hover > .hover-text-wrapper > .menu-text {
  max-height: 0;
  opacity: 0;
  margin: 35px;
}

/* Make exp menu expand to full page */
.expChoiceExpand > .menu-hover > .hover-text-wrapper > .menu-workshop-author {
  align-self: flex-end;
  padding-right: 20%;
  transition: all 1s;
  transition-delay: 0.25s;
}
.expChoiceExpand {
  cursor: default;
}
.expChoiceExpand > .menu-hover > .hover-text-wrapper > .menu-text {
  max-height: 1000px;
  opacity: 1;

  transition: all 2s;
  transition-delay: 1.5s;
}
.expChoiceExpand > .menu-hover > .hover-text-wrapper > img,
.expChoiceExpand > .menu-hover > .hover-text-wrapper > .menu-text {
  display: block;
}
.expChoiceExpand > .menu-hover {
  opacity: 1;
}
.expChoiceExpand {
  width: 100%;
  transition: width 2s;
}

/* Make exp menu collapse to 0 */
.expChoiceHidden {
  width: 0;
  transition: width 2s;
}
.expChoiceHidden > .menu-hover > .hover-text-wrapper > img, .expChoiceHidden > .menu-hover > .hover-text-wrapper > .menu-text {
  display: none;
}

/* Make exp menu transition to workshop*/
.expChoiceOut > .menu-hover > .hover-text-wrapper > .menu-workshop-title,
.expChoiceOut > .menu-hover > .hover-text-wrapper > .menu-workshop-author,
.expChoiceOut > .menu-hover > .hover-text-wrapper > .menu-text {
  transform: translateX(-100vw);
  transition: transform 0.75s ease-out;
}
.expChoiceOut > .menu-hover > .hover-text-wrapper > .menu-text {
  transition-delay: 0.25s;
}
.expChoiceOut > .menu-hover > .hover-text-wrapper > .menu-workshop-author {
  transition-delay: 0.5s;
}

#mouse-animated-menuExpo, #mouse-animated-menuMusic, #mouse-animated-menuDance {
  position: absolute;
  bottom: 20%;
}
