#menu-section {
  display: table;
}

.expChoice {
  position: relative;
  float: left;
  max-height: 100vh;
  width: 33.33%;
}

.expChoice a {
  text-decoration: none;
  color: black;
}

.img-menu {
  position: relative;
  min-width: 100%;
  max-height: 100%;
  z-index: 1;
  transition: transform 1s, filter 1s ease-in-out;
  transform-origin: center center;
  filter: brightness(80%);
}

.img-menu-crayon {
  position: absolute;
  width: 100%;
  min-height: 100%;
  z-index: 2;
}

#hover-expo {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 0;
	transition-property: opacity;
  transition-duration: 1.5s;
  background: #FFCB13;
  font-size: 30px;
  line-height: 50px;
  text-transform: uppercase;
  font-family: "NimbusSanL";
}

#hover-expo:hover {
  opacity: 1;
}

.menu-hover h2:first-child {
  font-weight: normal;
}

.menu-hover h2:last-child {
  font-weight: bold;
}

.hover-text-wrapper {
  margin: 0;
  position: absolute;
  top: 45%;
  left: 5%;
}

#hover-music {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 0;
	transition-property: opacity;
  transition-duration: 1.5s;
  background: #F46D36;
  font-size: 30px;
  line-height: 50px;
  text-transform: uppercase;
  font-family: "NimbusSanL";
}

#hover-music:hover {
  opacity: 1;
}

#hover-dance {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 0;
	transition-property: opacity;
  transition-duration: 1.5s;
  background: #7D98DD;
  font-size: 30px;
  line-height: 50px;
  text-transform: uppercase;
  font-family: "NimbusSanL";
}

#hover-dance:hover {
  opacity: 1;
}

.fullscreen{
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
 }
