#presentation-section {
  position: relative;
  background-color: white;
}

#presentation-logo {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
  width: 275px;
  height: 95px;
}
