#aos-logo {
  position: relative;
  top: 10%;
}

#presentation-section {
  position: relative;
  background-color: white;
  height: 110vh;
}

#presentation-logo {
	position: relative;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
  width: 275px;
  height: 95px;
}
