#logo-sorties {
  text-align: center;
  top: 0;
}

#presentation-section {
  position: relative;
  background-color: #1E1E1E;
  height: 100vh;
}

#end-presentation {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 5%;
}

#text-end-presentation {
  font-family: "NimbusSanL";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;

  color: #F6F5F5;
}

#arrow-down-presentation {
  margin-top: 20px;
}
