#soundText {
  text-align: center;
  color: white;
  font-family: "NimbusSanL"
}


.sound-content {
  position: relative;
  top: 30%;

  z-index: 450;

  animation-delay: 0.5s;
}

.sound-content-bottom-right {
    right: 50px;
    top: calc(100vh - 100px);
}

.sound-content > svg:hover {
  cursor: pointer;
}

#sound-icon-wrapper {
  margin: auto;
  height: auto;
  width: 100px;
}

.bar-white {
  fill: white;
  border-radius: 5px;
}


/* Keyframes */
@keyframes child-1 {
  from { height: 4px; transform: translate(10px, 8px); }
  to   { height: 10px; transform: translate(10px, 5px); }
}
@keyframes child-2 {
  from { height: 20px; transform: translate(14px, 0px); }
  to   { height: 10px; transform: translate(14px, 5px); }
}
@keyframes child-3 {
  from { height: 4px; transform: translate(18px, 8px); }
  to   { height: 16px; transform: translate(18px, 2px); }
}
@keyframes child-4 {
  from { height: 2px; transform: translate(22px, 9px); }
  to   { height: 14px; transform: translate(22px, 3px); }
}
@keyframes child-5 {
  from { height: 16px; transform: translate(26px, 2px); }
  to   { height: 6px; transform: translate(26px, 7px); }
}
@keyframes child-6 {
  from { height: 4px; transform: translate(30px, 8px); }
  to   { height: 12px; transform: translate(30px, 3px); }
}
@keyframes child-7 {
  from { height: 2px; transform: translate(34px, 9px); }
  to   { height: 12px; transform: translate(34px, 3px); }
}

.sound-content > svg > g > .bar:nth-child(2) {
  height: 4px;
  animation: child-1 0.8s linear alternate infinite;
}
.sound-content > svg > g > .bar:nth-child(3) {
  height: 20px;
  animation: child-2 0.6s linear alternate infinite;
}
.sound-content > svg > g > .bar:nth-child(4) {
  animation: child-3 0.9s linear alternate infinite;
}
.sound-content > svg > g > .bar:nth-child(5) {
  animation: child-4 0.65s linear alternate infinite;
}
.sound-content > svg > g > .bar:nth-child(6) {
  animation: child-5 0.75s linear alternate infinite;
}
.sound-content > svg > g > .bar:nth-child(7) {
  animation: child-6 0.5s linear alternate infinite;
}
.sound-content > svg > g > .bar:nth-child(8) {
  animation: child-7 0.85s linear alternate infinite;
}

.barDance {
  fill: white;
  border-radius: 5px;
}

.barDance:nth-child(2) {
  animation: child-1 0.8s linear alternate infinite;
}
.barDance:nth-child(3) {
  animation: child-2 0.6s linear alternate infinite;
}
.barDance:nth-child(4) {
  animation: child-3 0.9s linear alternate infinite;
}
.barDance:nth-child(5) {
  animation: child-4 0.65s linear alternate infinite;
}
.barDance:nth-child(6) {
  animation: child-5 0.75s linear alternate infinite;
}
.barDance:nth-child(7) {
  animation: child-6 0.5s linear alternate infinite;
}
.barDance:nth-child(8) {
  animation: child-7 0.85s linear alternate infinite;
}

/*.sound-content-mute > svg > g > .bar {*/
/*  animation: mute-sound 1s;*/
/*}*/
.sound-content-mute > svg > g > .bar:nth-child(2) {
  animation: mute-sound-1 0.6s linear forwards;
}
.sound-content-mute > svg > g > .bar:nth-child(3) {
  animation: mute-sound-2 0.6s linear forwards;
}
.sound-content-mute > svg > g > .bar:nth-child(4) {
  animation: mute-sound-3 0.6s linear forwards;
}
.sound-content-mute > svg > g > .bar:nth-child(5) {
  animation: mute-sound-4 0.6s linear forwards;
}
.sound-content-mute > svg > g > .bar:nth-child(6) {
  animation: mute-sound-5 0.6s linear forwards;
}
.sound-content-mute > svg > g > .bar:nth-child(7) {
  animation: mute-sound-6 0.6s linear forwards;
}
.sound-content-mute > svg > g > .bar:nth-child(8) {
  animation: mute-sound-7 0.6s linear forwards;
}

@keyframes mute-sound-1 {
  from {
    height: 6px;
    transform: translate(10px, 7px);
  }
  to {
    height: 1px;
    transform: translate(10px, 9px);
  }
}
@keyframes mute-sound-2 {
  from {
    height: 14px;
    transform: translate(14px, 3px);
  }
  to {
    height: 1px;
    transform: translate(14px, 9px);
  }
}
@keyframes mute-sound-3 {
  from {
    height: 12px;
    transform: translate(18px, 3px);
  }
  to {
    height: 1px;
    transform: translate(18px, 9px);
  }
}
@keyframes mute-sound-4 {
  from {
    height: 8px;
    transform: translate(22px, 6px);
  }
  to {
    height: 1px;
    transform: translate(22px, 9px);
  }
}
@keyframes mute-sound-5 {
  from {
    height: 12px;
    transform: translate(26px, 3px);
  }
  to {
    height: 1px;
    transform: translate(26px, 9px);
  }
}
@keyframes mute-sound-6 {
  from {
    height: 8px;
    transform: translate(30px, 6px);
  }
  to {
    height: 1px;
    transform: translate(30px, 9px);
  }
}
@keyframes mute-sound-7 {
  from {
    height: 6px;
    transform: translate(34px, 7px);
  }
  to {
    height: 1px;
    transform: translate(34px, 9px);
  }
}
