/* ------- Important ! Regardez bien à la fin de ce CSS pour des règles permettant de ----------- */
/* contraindre le format des slides affichés sur la page web */


/* normalisation des marges et padding pour simplifier le positionnement des éléments */
*{
    padding:0;
    margin:0;
}

body{
    background-color: black;
    color: black;
    overflow: hidden;   /* pour slidr dans certains navigateurs */
}

::-webkit-scrollbar {
    display: none;
}

/* probably needed for fontawesome svg
.icon {
  width: 2em;
  height: 2em;
}*/

/* image not draggable */
img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
