/* ------- Important ! Regardez bien à la fin de ce CSS pour des règles permettant de ----------- */
/* contraindre le format des slides affichés sur la page web */


/* normalisation des marges et padding pour simplifier le positionnement des éléments */
*{
    padding:0;
    margin:0;
}

body{
    background-color: black;
    color: black;
}

::-webkit-scrollbar {
    display: none;
}

#container {
  position: relative;
}

.container-scrollable {
  overflow-x: hidden;
  overflow-y: scroll;
}

#container-non-scrollable {
  height: 100%;
  overflow: hidden;
}

.section {
  height: 100vh;
  width: 100vw;
  top: 0;
}

/* probably needed for fontawesome svg
.icon {
  width: 2em;
  height: 2em;
}*/

/* image not draggable */
img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
