<!--
File Created: 2020-02-06 07:59
Author: Alban LECUIVRE
Copyright - 2020 Alban LECUIVRE
-->

<section id="view6-free">
  <div id="view-6-free-middle">

    <div id="view-6-character-part">
      <div id="view-6-character">
        <img src="assets/view6/view6-character-body.svg" alt="" id="view-6-character-body">
        <img src="assets/view6/view6-character-arm.svg" alt="" id="view-6-character-arm">
        <img src="assets/view6/view6-small-question-mark.svg" alt="" id="view-6-small-question-mark">
        <img src="assets/view6/view6-big-question-mark.svg" alt="" id="view-6-big-question-mark">
        <img src="assets/view6/view6-medium-question-mark.svg" alt="" id="view-6-medium-question-mark">
      </div>
    </div>

    <article>
      <p><span>Je ne trouve pas</span> les réseaux sociaux 
        de l’hôtel A, mais <span>peu importe</span>. 
        Que le petit-déjeuner soit continental 
        ou anglais, ça me plaît tout autant.</p>
    </article>
    
    <div id="view-6-free-red-ring"></div>
    <div id="view-6-free-green-dot"></div>
    <div id="view-6-free-white-ring"></div>
    <div id="view-6-free-green-tiny-dot"></div>
  </div>
  <footer>
    <button id="view-6-free-next-button">
      Que propose <span>l'autre hôtel ?</span>
    </button>
  </footer>
</section>