/*
* File Created: 2020-01-27 21:14:19
* Author: Christophe SONNEVILLE
* Copyright - 2020 Christophe SONNEVILLE
*/
#app-view {
  position: relative;
  background-color: #ffffff;
  transition: background-color 1s;
}
#app-view #app-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  padding: 30px;
}
#app-view #app-overlay * {
  z-index: 999;
}
#app-view #app-overlay #background-overlay {
  transition: opacity 1s;
  position: absolute;
  width: 80vw;
  height: 70vh;
  top: 10vh;
  left: 10vw;
  z-index: 0;
}
#app-view #app-overlay #background-overlay svg {
  width: 100%;
  height: 100%;
}
#app-view #app-overlay header {
  z-index: 999;
  display: flex;
}
#app-view #app-overlay header img {
  height: 7.5vh;
}
#app-view #app-overlay header ul {
  z-index: 1000;
  margin: 0px;
  padding: 0px;
  margin-left: auto;
  list-style: none;
  display: inline-block;
  display: flex;
}
#app-view #app-overlay header ul li {
  display: inline-block;
  margin: auto 30px;
  color: #5A8D8C;
  padding: 5px 10px;
  font-weight: lighter;
}
#app-view #app-overlay header ul li:last-of-type {
  background-color: #5A8D8C;
  color: #ffffff;
  margin-right: 0px;
  border-radius: 20px;
  font-size: 1.4em;
}
#app-view #app-overlay header ul li:last-of-type a {
  padding: 15px;
  color: #ffffff;
}
#app-view #app-overlay #scroll-point {
  position: absolute;
  right: 5vw;
  top: 60vh;
  transform: translateY(-50%);
}
#app-view #app-overlay #scroll-point .point {
  position: relative;
  height: 1.25vh;
  width: 1.25vh;
  border-radius: calc(1.25vh / 2);
  background-color: #5a8d8c;
  border: 0.5vh solid #5a8d8c;
  margin-bottom: 10vh;
  cursor: pointer;
}
#app-view #app-overlay #scroll-point .point:last-of-type::after {
  display: none;
}
#app-view #app-overlay #scroll-point .point:first-of-type::before {
  display: none;
}
#app-view #app-overlay #scroll-point .point::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 5vh;
  width: 0.15vw;
  background-color: #5a8d8c;
  top: calc(100% + 0.5vh);
}
#app-view #app-overlay #scroll-point .point::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 5vh;
  width: 0.15vw;
  background-color: #5a8d8c;
  bottom: calc(100% + 0.5vh);
}
#app-view #app-overlay #scroll-point .selected {
  border: 0.5vh solid #cb563e !important;
  background-color: #cb563e;
}
#app-view #app-overlay #scroll-point .selected::after {
  background-color: #cb563e !important;
}
#app-view #app-overlay #scroll-point .selected::before {
  background-color: #cb563e !important;
}
#app-view #app-overlay #scroll-point .last {
  background-color: #ffffff;
  animation: selectedHalo 1s forwards ease-out;
}
@keyframes selectedHalo {
  0% {
    box-shadow: 0 0 0 0px rgba(203, 86, 62, 0.3);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(203, 86, 62, 0.3);
  }
}
#app-view #app-overlay #scroll-point .beforeLast {
  background-color: #cb563e;
  animation: diselectedHalo 1s forwards ease-out;
}
@keyframes diselectedHalo {
  0% {
    box-shadow: 0 0 0 10px rgba(203, 86, 62, 0.3);
  }
  100% {
    box-shadow: 0 0 0 0px rgba(203, 86, 62, 0.3);
  }
}
#app-view #app-overlay #overlay-buttons {
  z-index: 10000;
  position: absolute;
  top: 50%;
  left: 5vw;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#app-view #app-overlay #overlay-buttons #text-size {
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 2vh;
}
#app-view #app-overlay #overlay-buttons #text-size .text {
  margin-bottom: 4vh;
  background-color: #5a8d8c;
  height: 8vh;
  width: 8vh;
  border-radius: calc(8vh / 2);
  color: white;
  z-index: 10000;
  transition: box-shadow 0.5s;
  box-shadow: 0 0 0 0px rgba(203, 86, 62, 0.3);
}
#app-view #app-overlay #overlay-buttons #text-size .text:hover {
  box-shadow: 0 0 0 10px rgba(203, 86, 62, 0.3);
}
#app-view #app-overlay #overlay-buttons #text-size .selected {
  animation: setSelected 0.5s forwards ease-out;
}
@keyframes setSelected {
  0% {
    background-color: #5a8d8c;
  }
  100% {
    background-color: #cb563e;
  }
}
#app-view #app-overlay #overlay-buttons #text-size .diselected {
  animation: setDiselected 0.5s forwards ease-out;
}
@keyframes setDiselected {
  0% {
    background-color: #cb563e;
  }
  100% {
    background-color: #5a8d8c;
  }
}
#app-view #app-overlay #overlay-buttons #text-size #small {
  font-size: small;
}
#app-view #app-overlay #overlay-buttons #text-size #medium {
  font-size: medium;
}
#app-view #app-overlay #overlay-buttons #text-size #large {
  font-size: large;
}
#app-view #app-overlay #overlay-buttons .switch {
  z-index: 10000;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  margin-bottom: 6vh;
}
#app-view #app-overlay #overlay-buttons .switch button {
  transition: box-shadow 2s;
  width: 8vh;
  height: 8vh;
  background-color: #5a8d8c;
  z-index: 10000;
  border-radius: calc(10vh / 2);
  transition: box-shadow 0.2s;
  box-shadow: 0 0 0 0px rgba(203, 86, 62, 0.3), 0 0 0 0px rgba(203, 85, 62, 0.363);
  padding: 1.5vh;
  transition: box-shadow 0.5s;
  box-shadow: 0 0 0 0px rgba(203, 86, 62, 0.3);
}
#app-view #app-overlay #overlay-buttons .switch button:hover {
  box-shadow: 0 0 0 10px rgba(203, 86, 62, 0.3);
}
#app-view #app-overlay #overlay-buttons .switch button #overlay-contrast-icon {
  height: 100%;
  width: 100%;
  filter: brightness(100);
}
#app-view #app-overlay #overlay-buttons #son {
  z-index: 10000;
  padding: 0;
  margin: 0;
}
#app-view #app-overlay #overlay-buttons #son button {
  z-index: 10000;
  padding: 0;
  margin: 0;
}
#app-view #app-overlay #overlay-buttons #son button img {
  height: 8vh;
  width: 8vh;
}
#app-view #overlay-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 20%;
  background-color: inherit;
}
#app-view #overlay-footer #overlay-next-button {
  z-index: 10000 !important;
  position: absolute;
  right: 0px;
  top: 50%;
  display: flex;
  transform: translateY(-50%);
  background-color: #CB563E;
  font-weight: normal;
  font-size: 25px;
  line-height: 34px;
  text-transform: capitalize;
  color: #ffffff;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  padding: 10px 30px;
  padding-right: 50px;
  padding-left: 10px;
}
#app-view #overlay-footer #overlay-next-button img {
  width: 45px;
  height: 45px;
}
#app-view #overlay-footer #overlay-next-button > div {
  height: 45px;
  margin-left: 20px;
  display: flex;
}
#app-view #overlay-footer #overlay-next-button > div div {
  margin: auto 0px;
}
#app-view #overlay-footer::after {
  content: "";
  border-top: 2px solid #5A8D8C;
  position: absolute;
  top: -2px;
  left: 10%;
  width: 80%;
}
#app-view p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Nunito;
  font-style: normal;
  color: #5a8d8c;
}
#app-view:hover > button {
  box-shadow: 50px 50px 0 200px rgba(203, 86, 62, 0.3), 0 0 0 10px rgba(203, 85, 62, 0.363);
}

/*# sourceMappingURL=app.css.map */
