/*
 * File Created: 2020-01-28 13:52:00
 * Author: Pierre MAUPIN
 * Copyright - 2020 Pierre MAUPIN
 */
#view11 {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
}
#view11 #view-11-middle {
  width: 80vw;
  height: 80vh;
  margin: 0px 10vw;
  border-bottom: 2px solid #5A8D8C;
  position: relative;
  background-image: url(../../assets/view11/splash-view11.svg);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: bottom -2px center;
}
#view11 #view-11-middle #view-11-premium-red-tiny-dot {
  position: absolute;
  z-index: 500;
  bottom: 50%;
  left: 30%;
  width: 1.5vh;
  height: 1.5vh;
  border-radius: 100%;
  background-color: #71C0A0;
}
#view11 #view-11-middle #view-11-premium-green-ring {
  position: absolute;
  z-index: 500;
  top: 15%;
  right: 65%;
  width: 4vh;
  height: 4vh;
  border-radius: 100%;
  border: 1vh solid #CB563E;
}
#view11 #view-11-middle #view-11-premium-white-ring {
  position: absolute;
  z-index: 500;
  transition: transform ease-in-out;
  top: 25%;
  right: 30%;
  width: 4vh;
  height: 4vh;
  border-radius: 100%;
  border: 5px solid #ffffff;
}
#view11 #view-11-middle img {
  position: absolute;
  bottom: -2px;
}
#view11 #view-11-middle #view-11-hotelA-img {
  z-index: 5;
  position: absolute;
  height: 40vh;
  max-width: 100%;
  left: 5%;
}
#view11 #view-11-middle #view-11-hotelB-img {
  z-index: 5;
  position: absolute;
  height: 40vh;
  max-width: 100%;
  left: 35%;
}
#view11 #view-11-middle #view-11-vegetation-img {
  z-index: 6;
  position: absolute;
  height: 20vh;
  max-width: 100%;
}
#view11 #view-11-middle > div {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: flex-start;
  right: 50%;
  bottom: -1px;
  max-height: 70%;
  max-width: 50%;
}
#view11 #view-11-middle article {
  z-index: 7;
  position: absolute;
  left: 58%;
  max-width: 30%;
  bottom: 8%;
}
#view11 #view-11-middle article p {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 29px;
  color: #426262;
}
#view11 #view-11-middle article span {
  color: #cb563e;
}
#view11 #view-11-middle figcaption {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 29px;
  color: #426262;
  top: 0%;
  position: relative;
  margin: 0px !important;
}
#view11 #view-11-middle figcaption em {
  font-weight: bold;
  color: #CB563E;
}
#view11 #view-11-middle #view-11-hotel-a-caption {
  position: absolute;
  top: -15%;
  left: 70%;
}
#view11 #view-11-middle #view-11-hotel-b-caption {
  position: absolute;
  top: -15%;
  left: 70%;
}
#view11 #view-11-middle button {
  padding: 0px;
  width: 25%;
  height: 20%;
  position: absolute;
  z-index: 100;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#view11 #view-11-middle button:hover {
  transform: scale(1.2, 1.2);
}
#view11 #view-11-middle button img {
  position: relative;
  width: 50%;
}
#view11 #view-11-middle #view-11-button-hotel-a {
  left: 7%;
  top: 60%;
}
#view11 #view-11-middle #view-11-button-hotel-b {
  left: 30%;
  top: 50%;
}
#view11 #view-11-middle .view-11-circle {
  width: 20%;
  position: absolute;
  right: 15%;
  box-shadow: 0 0 3px 0 #426262;
  -webkit-animation: view-11-pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: view-11-pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: view-11-pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: view-11-pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  border-radius: 50%;
}
@-webkit-keyframes view-11-pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}
@-moz-keyframes view-11-pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}
@-ms-keyframes view-11-pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}
@keyframes view-11-pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}
#view11 #view-11-middle #view-11-circle-a {
  top: 12%;
}
#view11 #view-11-middle #view-11-circle-b {
  top: 12%;
}
#view11 footer {
  width: 100vw;
  height: 20vh;
  position: relative;
}

/*# sourceMappingURL=view11.css.map */
