/* Bulle */

#bulle {
  width: 357px;
  height: 272px;
  left: 16%;
  position: relative;
  top: -76%;
}

#bulle > svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#bulle > p {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  font-size: 22px;
  top: 36%;
  transform: translateY(-50%);
}

/* Retour aux choix */

#buzzer9 {
  position: absolute;
  right: 25%;
  bottom: 25%;
}

/* Animation du buzzer */

@keyframes wiggle {
  from {
    transform: rotateZ(-10deg);
  }
  to {
    transform: rotateZ(10deg);
  }
}

#buzzer {
  transform-origin: 50% 66%;
  animation-name: wiggle;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* #buzzer {
  -webkit-animation-name: shake;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-transform-origin: 50% 100%;
} */

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-2deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(3deg);
  }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-2deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(4deg);
  }
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* Animation des traits jaunes */

/* 1 */

@keyframes changeTranslation1 {
  from {
    transform: translate(0px, 0px);
  }

  to {
    transform: translate(-14px, -14px);
  }
}

#exclam > g:nth-of-type(1) {
  animation: changeTranslation1 0.4s infinite alternate ease-in-out;
}

/* 2 */

@keyframes changeTranslation2 {
  from {
    transform: translate(0px, 0px);
  }

  to {
    transform: translate(-3px, -15px);
  }
}

#exclam > g:nth-of-type(2) {
  animation: changeTranslation2 0.4s infinite alternate ease-in-out;
}

/* 3 */

@keyframes changeTranslation3 {
  from {
    transform: translate(0px, 0px);
  }

  to {
    transform: translate(3px, -15px);
  }
}

#exclam > g:nth-of-type(3) {
  animation: changeTranslation3 0.4s infinite alternate ease-in-out;
}

/* 4 */

@keyframes changeTranslation4 {
  from {
    transform: translate(0px, 0px);
  }

  to {
    transform: translate(14px, -14px);
  }
}

#exclam > g:nth-of-type(4) {
  animation: changeTranslation4 0.4s infinite alternate ease-in-out;
}
