
<section id="view10">
    <div id="view-10-graph_container">
        <img id="view-10-graph" src="assets/graph.svg" alt="Graphique : 80% des PMR ne partent pas en voyage par peur.">
        <p id="view-10-graph_title">Abandon des recherches</p>
    </div>
    <p id="view-10-data" class="text-change">
        Être en mesure de contacter facilement l’hôtel en amont du séjour, c’est vraiment pratique. 
        Savais-tu que 80% des PMR abandonnent leur recherche par manque d’informations ?
    </p>
    <footer>
        <button id="view-10-next-button">
            Poursuivre l’histoire
        </button>
    </footer>
</section>