
<section>
    <div id="view10">
        <div id="graph_container">
            <img id="graph" src="./assets/graph.svg" alt="Graphique : 80% des PMR ne partent pas en voyage par peur.">
            <p id="graph_title">Abandon des recherches</p>
        </div>
        <p id="data">
            Être en mesure de contacter facilement l’hôtel en amont du séjour, c’est vraiment pratique. 
            Savais-tu que 80% des PMR abandonnent leur recherche par manque d’informations ?
        </p>
    </div>
</section>