<!--
File Created: 2020-02-05 20:27
Author: Alban LECUIVRE
Copyright - 2020 Alban LECUIVRE
-->

<section id="comparatif">
  <div id="comparatif-middle">
    <div id="comparatif-red-ring"></div>
    <div id="comparatif-green-ring"></div>
    <div id="comparatif-white-ring"></div>
    <div id="comparatif-green-tiny-dot"></div>

    <div id="comparatif-content">
      <div id="comparatif-free-column" class="comparatif-column">
        <h1>Hôtel du Château (Gratuit)</h1>
        <ul>
          <li>
            <p>Créer un <span>compte professionnel</span></p>
          </li>
          <li>
            <p>Ajouter <span>un établissement</span> ou <span>un service</span></p>
          </li>
          </li>
          <li>
            <p><span>Valoriser l'accessibilité</span> de votre établissement ou service</p>
          </li>
        </ul>
      </div>
      <div id="comparatif-premium-column" class="comparatif-column">
        <h1>Hôtel du Centre (Premium)</h1>
        <ul>
          <li>
            <p>Créer un <span>compte professionnel</span></p>
          </li>
          <li>
            <p>Ajouter <span>un établissement</span> ou <span>un service</span></p>
          </li>
          <li>
            <p><span>Valoriser l'accessibilité</span> de votre établissement ou service</p>
          </li>
          <li>
            <p>Ajouter vos <span>photos pro</span> et votre <span>vidéo promo</span></p>
          </li>
          <li>
            <p>Compléter <span>votre présentation</span> (indiquer : les liens vers votre site web, réseaux sociaux, prix, 
              horaires, etc).</p>
          </li>
          <li>
            <p>Recevoir <span>les demandes</span> de nos voyageurs PMR <span>sur le tchat</span></p>
          </li>
          <li>
            <p><span>Répondre aux commentaires</span> sur votre lieu</span></p>
          </li>
          <li>
            <p><span>Exporter les avis</span> sur votre site internet</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>