<!--
File Created: 2020-01-28 09:49:11
Author: Christophe SONNEVILLE
Copyright - 2020 Christophe SONNEVILLE
-->
<section id="view3-premium">
  <div id="view-3-premium-middle">

    <article>
      <p>Tu as choisi l'hôtel B.<br>Il y a <span>plusieurs photos</span> qui mettent en avant son accessibilité.<br>Il y a même une <span>vidéo de présentation !</span><br><br>Je serai <span>plus rassurée</span> en ayant vuce que l'hôtel me met à disposition.</p>
    </article>
    
    <div id="view-3-premium-pic-group">
      <img src="assets/view3/view3-premium-video.svg" alt="" class="view-3-premium-group-item">
      <img src="assets/view3/view3-picture.svg" alt="" class="view-3-premium-group-item">
      <img src="assets/view3/view3-picture.svg" alt="" class="view-3-premium-group-item">
      <img src="assets/view3/view3-picture.svg" alt="" class="view-3-premium-group-item">
    </div>
    <div id="view-3-premium-red-tiny-dot"></div>
    <div id="view-3-premium-green-ring"></div>
    <div id="view-3-premium-white-ring"></div>
    <div id="view-3-premium-dot"></div>
  </div>
  <footer>
    <button id="view-3-premium-next-button">
      En quelques chiffres
    </button>
  </footer>
</section>