<!--
File Created: 2020-01-28 09:49:11
Author: Christophe SONNEVILLE
Copyright - 2020 Christophe SONNEVILLE
-->
<section id="view3-premium">
  <div id="view-3-premium-middle">

    <article>
      <p class="text-change">L’hôtel du Centre a publié <span>plusieurs photos</span><br/> mettant en avant l’accessibilité,<br/> il y a même une <span>vidéo de présentation !</span><br>Je suis <span>rassurée</span> de voir ce qui est mis en place.</p class="text-change">
    </article>
    
    <div id="view-3-premium-pic-group">
      <img src="assets/view3/view3-premium-video.svg" alt="" class="view-3-premium-group-item">
      <img src="assets/view3/view3-picture.svg" alt="" class="view-3-premium-group-item">
      <img src="assets/view3/view3-picture.svg" alt="" class="view-3-premium-group-item">
      <img src="assets/view3/view3-picture.svg" alt="" class="view-3-premium-group-item">
    </div>
    <div id="view-3-premium-red-tiny-dot"></div>
    <div id="view-3-premium-green-ring"></div>
    <div id="view-3-premium-white-ring"></div>
    <div id="view-3-premium-dot"></div>
  </div>
</section>