<li class="slide stop-scroll">
    <div class='key-slide-content'>
        <img src="img/decors/decor_now.webp" class="inslide-decor">
        <h1>Troisième période</h1>
        <button class="next">1er Témoignage</button>
        <button class="next2">2nd Témoignage</button>

        <img id="textBox7" class="textBox">
        <span id="textBoxTyped7" class="textBoxTyped"></span>
    </div>
</li>
