<li class="slide stop-scroll">
    <div class='key-slide-content'>
    <img src="img/decors/decor_now.webp" class="inslide-decor">
    <img src="img/personnages/Pablo.png" style="width: 7vw; left: 32vw; bottom: 7vw; transform: scaleX(-1);">
    <img id="Emma-slide-7" src="img/personnages/Emma.png" style="width: 6.5vw; left: 42vw; bottom: 7vw">

    <img id="video-icon" class="next" src="img/temoignages/video-icon.png" alt="video-icon" style="width: 10vw; left: 55vw; bottom: 21vw;">
    <img id="carte-icon" class="next2" src="img/temoignages/carte-icon.png" alt="carte-icon" style="width: 10vw; left: 70vw; bottom: 21vw;">

    <img id="textBox7" class="textBox">
    <span id="textBoxTyped7" class="textBoxTyped"></span>
    </div>
</li>
