<li class="slide" id="carteInteractive">

    <script type="text/javascript" src="js/map/raphael-min.js"></script>
    <script type="text/javascript" src="js/map/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="js/map/jquery.mapael.js"></script>
    <script type="text/javascript" src="js/map/world_countries_miller-custom.js"></script>

    <style type="text/css">
        :root {
            --map-bg-color: #ffffff;
            --map-fg-color: #002d59;
            --map-dot-color: #e83368;
        }

        body {
            font-family: Helvetica, Arial, sans-serif;
        }

        #carteInteractive {
            background-color: var(--map-bg-color);
        }

        .p3-t2-container {
            position: relative;
            height: 100vh;
        }

        .mapContainer {
            margin: 20px;
            height: content-box;
            width: content-box;
        }

        .mapael .map {
            position: relative;
            height: 85vh;
        }

        .mapael .mapTooltip {
            position: absolute;
            background-color: var(--map-bg-color);
            border-color: var(--map-dot-color);
            border-width: 5px;
            border-style: solid;
            moz-opacity: 0.90;
            opacity: 0.90;
            filter: alpha(opacity=90);
            border-radius: 40px;
            z-index: 999;
            max-width: 30vw;
            /*color: #343434;*/
            margin: 5px;
            padding: 5px;
            color: var(--map-fg-color);
            font-size: 35px;
            font-family: Avenir;
            line-height: initial;
            display: none;
        }

        /*.tooltipContainer {
            position: absolute;
            background-color: var(--map-bg-color);
            height: 37vh;
            width: 18vw;
            bottom: 4vh;
            left: 2vw;
            z-index: 998;
        }*/

        /*.tooltipContainer {
            position: absolute;
            height: 40vh;
            max-height: 40vh;
            width: 18vw;
            max-width: 18vw;
            bottom: 2vh;
            left: 1vw;
            z-index: 998;
            background-color: var(--map-bg-color);
            vertical-align: middle;
        }

        .tooltip {
            position: relative;
            padding: 0;
            display: inline-block;
            margin: 0 auto;
            overflow: hidden;
            line-height: normal;
            border-style: solid;
            border-radius: 50px;
            border-width: 10px;
            border-color: var(--map-dot-color);
            z-index: 999;
            background-color: var(--map-bg-color);
            color: var(--map-fg-color);
            max-width: 17vw;
            max-height: 38vh;
        }*/

        .city {
            font-weight: bold
        }

        .date {
            opacity: 0.80;
            font-size: 0.8em;
            font-weight: lighter;
        }

        .description {
            opacity: 0.92;
            font-size: 0.8em;
        }

        .plotLegend {
            position: absolute;
            bottom: 5vh;
            left: 5vw;
            z-index: 1000;
        }
    </style>

    <script>

        // TODO: legende et bon ajustement du tooltip + zoom si possible

        let backMapColor = getComputedStyle(document.documentElement).getPropertyValue("--map-bg-color");
        let frontMapColor = getComputedStyle(document.documentElement).getPropertyValue("--map-fg-color");
        let frontDotColor = getComputedStyle(document.documentElement).getPropertyValue("--map-dot-color");

        // Création automatique des zones de plot
        async function getPlotsFromData() {

            function getContent(datum) {
                return "<span class=\"city\">" + datum.ville + "</span><br />" +
                    "<span class=\"date\">" + datum.date + "</span><br />" +
                    "<span class=\"description\">" + datum.description + "</span>";
            }

            function getContent_France(datum) {
                let HTML_res = "";
                const splitted_description = datum.description.split('|');

                HTML_res += "<span class=\"city\">" + datum.ville + "</span><br />";
                HTML_res += "<span class=\"date\">" + datum.date + "</span><br />";

                HTML_res += "<span class=\"description\">";
                for (let i = 0; i < splitted_description.length; i++) {
                    HTML_res += splitted_description[i] + "<br />";
                }
                HTML_res += "</span>";

                return HTML_res;
            }

            let plots = {};
            await $.getJSON("data/map.json", function (data) {
                for (let i = 0; i < data.length; i++) {

                    let city = data[i].ville;

                    plots[city] = {
                        latitude: data[i].coordonnees.latitude,
                        longitude: data[i].coordonnees.longitude
                    };

                    if (data[i].pays === "France") {
                        plots[city]["tooltip"] = {
                            content: getContent_France(data[i])
                        };
                    } else {
                        plots[city]["tooltip"] = {
                            content: getContent(data[i])
                        };
                    }

                    // Beaucoup de points en Europe donc on diminue leur taille
                    if (data[i].continent === "Europe") {
                        plots[city]["size"] = 6;
                        plots[city]["attrsHover"] = {
                            "stroke-width": plots[city]["size"]
                        };
                    }

                    plots[city]["type"] = "image";
                    switch (data[i].type) {
                        case "Campus":
                            plots[city]["url"] = "img/map/picto_diplome.png";
                            // Ratio : 1.32
                            plots[city]["height"] = 10;
                            plots[city]["width"] = 13;
                            plots[city]["value"] = "diplome";
                            break;
                        case "Partenariat":
                            plots[city]["url"] = "img/map/picto_mains.png";
                            // Ratio : 1.34
                            plots[city]["height"] = 9;
                            plots[city]["width"] = 12;
                            plots[city]["value"] = "mains";
                            break;
                        case "Accreditation":
                            plots[city]["url"] = "img/map/picto_medaille.png";
                            // Ratio : 0.64
                            plots[city]["height"] = 12;
                            plots[city]["width"] = 8;
                            plots[city]["value"] = "medaille";
                            break;
                    }
                }
            });

            return plots;
        }

        $(document).ready(async function () {
            $(".p3-t2-container").mapael({
                map: {
                    name: "world_countries_miller",
                    defaultArea: {
                        attrs: {
                            fill: frontMapColor,
                            stroke: frontMapColor
                        },
                        attrsHover: {
                            fill: frontMapColor
                        }
                    },
                    defaultPlot: {
                        size: 10,
                        attrs: {
                            fill: frontDotColor
                        },
                        attrsHover: {
                            "stroke-width": 10,
                            transform: "s1.5"
                        }
                    }

                    /*zoom: {
                        enabled: true,
                        mousewheel: false,
                    }*/
                },
                legend: {
                    plot: {
                        marginLeftLabel: 15,
                        labelAttrs: {
                            "font-family": "Avenir",
                            "font-size": 25,
                            fill: frontMapColor
                        },
                        labelAttrsHover: {
                            transform: "s1.1",
                            fill: frontMapColor
                        },
                        slices: [
                            {
                                label: "Campus",
                                sliceValue: "diplome",
                                type: "image",
                                url: "img/map/picto_diplome.png",
                                height: 10,
                                width: 13
                            },
                            {
                                label: "Partenariat",
                                sliceValue: "mains",
                                type: "image",
                                url: "img/map/picto_mains.png",
                                height: 9,
                                width: 12
                            },
                            {
                                label: "Accréditation",
                                sliceValue: "medaille",
                                type: "image",
                                url: "img/map/picto_medaille.png",
                                height: 12,
                                width: 8
                            }
                        ]
                    }
                },
                plots: await getPlotsFromData()
            });
        });

        /*eventHandlers: {
                mouseover: function (e, id, mapElem, textElem, elemOptions) {
                    console.log("OK");
                },
                mouseout: function (e, id, mapElem, textElem, elemOptions) {
                    console.log("OK");
                },
                click: function (e, id, mapElem, textElem, elemOptions) {
                    console.log("OK");
                }
           }*/

    </script>

    <div class="p3-t2-container">

        <div class="mapContainer">
            <div class="map">
                <span>Carte du monde illustrant la présence d'Audencia à l'international</span>
            </div>
            <div class="plotLegend">
                <span>Légende : pictogrammes de la carte</span>
            </div>
        </div>

        <!--<div class="tooltipContainer">
            <div class="tooltip">
                aa aa aa a a aa qsd
                aaaaaaaaaa
                aaaaaaaaaa
                aaaaaaaaaa
                aaaaaaaaaa
                aaaaaaaaaa
                aaaaaaaaaa
            </div>
        </div>-->

        <!--<div class="buttonContainer">
            <button class="next buttonMap">Passer à la période suivante</button>
            <button class="prev buttonMap">Voir le 2nd témoignage</button>
        </div>-->
    </div>
</li>
