<li class="slide" id="carteInteractive">

    <script type="text/javascript" src="js/map/raphael-min.js"></script>
    <script type="text/javascript" src="js/map/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="js/map/jquery.mapael.js"></script>
    <script type="text/javascript" src="js/map/world_countries_miller.js"></script>

    <style type="text/css">
        :root {
            --map-bg-color: #ffffff;
            --map-fg-color: #002d59;
            --map-dot-color: #e83368;
        }

        body {
            font-family: Helvetica, Arial, sans-serif;
        }

        #carteInteractive {
            background-color: var(--map-bg-color);
        }

        .p3-t2-container {
            position: relative;
            height: 100vh;
        }

        .mapContainer {
            margin: 20px;
            height: content-box;
            width: content-box;
        }

        .mapael .map {
            position: relative;
            height: 85vh;
        }

        .mapael .mapTooltip {
            position: absolute;
            background-color: var(--map-bg-color);
            border-color: var(--map-dot-color);
            border-width: 5px;
            border-style: solid;
            moz-opacity: 0.90;
            opacity: 0.90;
            filter: alpha(opacity=90);
            border-radius: 40px;
            z-index: 1000;
            max-width: 30vw;
            /*color: #343434;*/
            margin: 5px;
            padding: 5px;
            color: var(--map-fg-color);
            font-size: 40px;
            font-family: Avenir;
            line-height: initial;
            display: none;
        }

        /*.tooltipContainer {
            position: absolute;
            background-color: var(--map-bg-color);
            height: 37vh;
            width: 18vw;
            bottom: 4vh;
            left: 2vw;
            z-index: 998;
        }*/

        /*.tooltipContainer {
            position: absolute;
            height: 40vh;
            max-height: 40vh;
            width: 18vw;
            max-width: 18vw;
            bottom: 2vh;
            left: 1vw;
            z-index: 998;
            background-color: var(--map-bg-color);
            vertical-align: middle;
        }

        .tooltip {
            position: relative;
            padding: 0;
            display: inline-block;
            margin: 0 auto;
            overflow: hidden;
            line-height: normal;
            border-style: solid;
            border-radius: 50px;
            border-width: 10px;
            border-color: var(--map-dot-color);
            z-index: 999;
            background-color: var(--map-bg-color);
            color: var(--map-fg-color);
            max-width: 17vw;
            max-height: 38vh;
        }*/

        .city {
            font-weight: bold
        }

        .date {
            opacity: 0.85;
            font-size: 0.8em;
            font-weight: lighter;
        }

        .description {
            opacity: 0.92;
            font-size: 0.8em;
        }
    </style>

    <script>

        let backMapColor = getComputedStyle(document.documentElement).getPropertyValue("--map-bg-color");
        let frontMapColor = getComputedStyle(document.documentElement).getPropertyValue("--map-fg-color");
        let frontDotColor = getComputedStyle(document.documentElement).getPropertyValue("--map-dot-color");

        // Création automatique des zones de plot
        async function getPlotsFromData() {

            function getContent(datum) {
                return "<span class=\"city\">" + datum.ville + "</span><br />" +
                    "<span class=\"date\">" + datum.date + "</span><br />" +
                    "<span class=\"description\">" + datum.description + "</span>";
            }

            let plots = {};
            await $.getJSON("data/map.json", function (data) {
                // Compteur Nantes
                let cpt = 1;
                for (let i = 0; i < data.length; i++) {

                    let city = data[i].ville;
                    if (city === "Nantes") city += cpt++;

                    plots[city] = {
                        latitude: data[i].coordonnees.latitude,
                        longitude: data[i].coordonnees.longitude,
                        tooltip: {
                            content: getContent(data[i])
                        }
                    };

                    // Beaucoup de points en Europe donc on diminue leur taille
                    if (data[i].continent === "Europe") {
                        plots[city]["size"] = 6;
                        plots[city]["attrsHover"] = {
                            "stroke-width": plots[city]["size"]
                        };
                    }

                    plots[city]["type"] = "image";
                    switch (data[i].type) {
                        case "Campus":
                            plots[city]["url"] = "img/map/picto_diplome.png";
                            plots[city]["height"] = 10;
                            plots[city]["width"] = 12;
                            break;
                        case "Partenariat":
                            plots[city]["url"] = "img/map/picto_mains.png";
                            plots[city]["height"] = 8;
                            plots[city]["width"] = 12;
                            break;
                        case "Accreditation":
                            plots[city]["url"] = "img/map/picto_medaille.png";
                            plots[city]["height"] = 12;
                            plots[city]["width"] = 8;
                            break;
                    }
                }
            });

            return plots;
        }

        $(document).ready(async function () {
            $(".p3-t2-container").mapael({
                map: {
                    name: "world_countries_miller",
                    defaultArea: {
                        attrs: {
                            fill: frontMapColor,
                            stroke: frontMapColor,
                        },
                        attrsHover: {
                            fill: frontMapColor
                        }
                    },
                    defaultPlot: {
                        size: 10,
                        attrs: {
                            fill: frontDotColor,
                            opacity: 0.9
                        },
                        attrsHover: {
                            "stroke-width": 10
                        }
                    },
                    zoom: {
                        enabled: true,
                        mousewheel: false,
                    }
                },
                plots: await getPlotsFromData()
            });
        });

        /*eventHandlers: {
                mouseover: function (e, id, mapElem, textElem, elemOptions) {
                    console.log("OK");
                },
                mouseout: function (e, id, mapElem, textElem, elemOptions) {
                    console.log("OK");
                },
                click: function (e, id, mapElem, textElem, elemOptions) {
                    console.log("OK");
                }
           }*/

    </script>

    <div class="p3-t2-container">

        <div class="mapContainer">
            <div class="map">
                <span>Alternative content</span>
            </div>
        </div>

        <!--<div class="tooltipContainer">
            <div class="tooltip">
                aa aa aa a a aa qsd
                aaaaaaaaaa
                aaaaaaaaaa
                aaaaaaaaaa
                aaaaaaaaaa
                aaaaaaaaaa
                aaaaaaaaaa
            </div>
        </div>-->

        <!--<div class="buttonContainer">
            <button class="next buttonMap">Passer à la période suivante</button>
            <button class="prev buttonMap">Voir le 2nd témoignage</button>
        </div>-->
    </div>
</li>
