<li class="slide" id="carteInteractive">
    <div class="p3-t2-container">

        <div class="mapContainer">
            <div class="map">
                <span>Carte du monde illustrant la présence d'Audencia à l'international</span>
            </div>

            <div class="plotLegend">
                <span>Légende : pictogrammes de la carte</span>
            </div>
        </div>

    </div>
</li>
