<li class="slide">
    <h1>2nd témoignage</h1>
    <button class="next">Passer à la période suivante</button>
    <button class="prev">Voir le 2nd témoignage</button>

    <img id="textBox9" class="textBox">
    <span id="textBoxTyped9" class="textBoxTyped"></span>
</li>
