<li class="slide" id="carteInteractive">

    <script type="text/javascript" src="js/map/raphael-min.js"></script>
    <script type="text/javascript" src="js/map/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="js/map/jquery.mapael.js"></script>
    <script type="text/javascript" src="js/map/world_countries_miller.js"></script>

    <style type="text/css">
        :root {
            --map-bg-color: #ffffff;
            --map-fg-color: #002d59;
            --map-dot-color: #e83368;
        }

        body {
            font-family: Helvetica, Arial, sans-serif;
        }

        #carteInteractive {
            background-color: var(--map-bg-color);
        }

        .p3-t2-container {
            position: relative;
            height: 100vh;
        }

        .mapContainer {
            margin: 10px;
            height: content-box;
            width: content-box;
        }

        .mapael .map {
            position: relative;
            height: 100vh;
        }

        /*.mapael .mapTooltip {
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: yellow;
            moz-opacity: 0.70;
            opacity: 0.70;
            filter: alpha(opacity=70);
            border-radius: 10px;
            padding: 10px;
            z-index: 1000;
            max-height: 30vw;
            max-width: 15vw;
            display: none;
            color: red; /* couleur du texte *//*
        }*/

        /*.tooltipContainer {
            position: absolute;
            background-color: var(--map-bg-color);
            height: 37vh;
            width: 18vw;
            bottom: 4vh;
            left: 2vw;
            z-index: 998;
        }*/

        .tooltipContainer {
            position: absolute;
            height: 40vh;
            max-height: 40vh;
            width: 18vw;
            max-width: 18vw;
            bottom: 2vh;
            left: 1vw;
            z-index: 999;
            background-color: var(--map-bg-color);
            vertical-align: middle;
        }

        .tooltip {
            position: relative;
            padding: 0;
            display: inline-block;
            margin: auto;
            overflow: hidden;
            line-height: normal;
            border-style: solid;
            border-radius: 50px;
            border-width: 10px;
            border-color: var(--map-dot-color);
            z-index: 999;
            background-color: var(--map-bg-color);
            color: var(--map-fg-color);
            max-width: 17vw;
            max-height: 38vh;
        }
    </style>

    <script>

        let backMapColor = getComputedStyle(document.documentElement).getPropertyValue("--map-bg-color");
        let frontMapColor = getComputedStyle(document.documentElement).getPropertyValue("--map-fg-color");
        let frontDotColor = getComputedStyle(document.documentElement).getPropertyValue("--map-dot-color");

        $(document).ready(function () {
            $(".p3-t2-container").mapael({
                map: {
                    name: "world_countries_miller",
                    defaultArea: {
                        attrs: {
                            fill: frontMapColor,
                            stroke: frontMapColor
                        },
                        attrsHover: {
                            fill: frontMapColor
                        }
                    },
                    defaultPlot: {
                        attrs: {
                            fill: frontDotColor
                        }
                    }
                },
                plots: {
                    'C-Paris': {
                        size: 10,
                        latitude: 48.8534,
                        longitude: 2.3488,
                        text: {content: "Paris"},
                        tooltip: {content: "<span style=\"font-weight:bold;\">Shenzhen</span><br />Population : 10"},
                        eventHandlers: {
                            click: function (e, id, mapElem, textElem) {
                                alert("OK");
                            }
                        }
                    },
                    'C-Shenzhen': {
                        size: 10,
                        latitude: 22.54554,
                        longitude: 114.0683,
                        text: {content: "Shenzhen"},
                        tooltip: {content: "<span style=\"font-weight:bold;\">Shenzhen</span><br />Population : 10"}
                    }
                }
            });
        });


//Ne sert potentiellement a rien finalement
        $("circle").click()
        /*click(function (event) {
            alert("OK");
            console.log("aaa");
            // access data: $(this).attr("data-id")
        })*/



    </script>

    <div class="p3-t2-container">

        <div class="mapContainer">
            <div class="map">
                <span>Alternative content</span>
            </div>
        </div>

        <div class="tooltipContainer">
            <div class="tooltip">
                aa aa aa a a aa qsd
                aaaaaaaaaa
                aaaaaaaaaa
                aaaaaaaaaa
                aaaaaaaaaa
                aaaaaaaaaa
                aaaaaaaaaa
            </div>
        </div>

        <!--<div class="buttonContainer">
            <button class="next buttonMap">Passer à la période suivante</button>
            <button class="prev buttonMap">Voir le 2nd témoignage</button>
        </div>-->
    </div>
</li>
