<!--
File Created: 2020-01-28 21:05:51
Author: Christophe SONNEVILLE
Copyright - 2020 Christophe SONNEVILLE
-->
<section id="view8">
  <div id="view-8-middle">
    <div id="view-8-computer-container">
      <img src="assets/perso/perso_green_face.svg" alt="Personnage devant ordinateur" id="view-8-perso">
      <img src="assets/view8/computer.svg" alt="Ordinateur" id="view-8-computer">
      <div id="view-8-hotela-container">
        <img src="assets/view8/hotel_a.svg" alt="Hotel A" id="view-8-hotel-a">
        <div alt="Point cliquable" id="view-8-circle-a" class="circle"></div>
        <figcaption id="view-8-a-caption">Hôtel <em>du Château</em></figcaption>
      </div>
      <div id="view-8-hotelb-container">
        <img src="assets/view8/hotel_b.svg" alt="Hotel B" id="view-8-hotel-b">
        <div alt="Point cliquable" id="view-8-circle-b" class="circle"></div>
        <figcaption id="view-8-b-caption">Hôtel <em>du Centre</em></figcaption>
      </div>
    </div>
    <p class="text-change" id="view-8-text">
      J’aimerais <em>contacter l’hôtel,</em>
      j’ai quelques questions
      à leur poser à propos
      de <em>l’accessibilité.</em></br>
      Lequel te semble
      le plus <em>facile à joindre ?</em>
    </p>
  </div>
</section>