<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
        <title>Credits</title>
    </head>
    <body>
        <h1>Credits du projet Hyblab 2020 Auden'story</h1>
        <div>
            <a href="http://www.hyblab.fr/"><img id="hyblab" src="img/logo_hyblab.png" alt="Hyblab DataSport"></a>
            <ul>
                <li><a href="http://www.ouestmedialab.fr/"><img src="img/logo_oml.png" alt="Ouest Médialab"></a></li>
                <li><a href="http://www.agrnantes.fr"><img src="img/ecoles/AGR_logo_Nantes_Rennes.png" alt="AGR école de l'image"></a></li>
                <li><a href="http://www.univ-nantes.fr/"><img src="img/ecoles/logo_universitenantes.jpg" alt="Université de Nantes"></a></li>
                <li><a href="http://www.polytech.univ-nantes.fr/"><img src="img/ecoles/logo_polytech.png" alt="Polytech Nantes"></a></li>
                <li><a href="http://sciencescom.audencia.com/"><img src="img/ecoles/logo_sciencescom.jpg" alt="SciencesCom"></a></li>
            </ul>
            Etudiants:
            <ul>
                <li> Polytech Nantes:
                    <ul>
                        <li><a href="">Guillaume Kergreis</a></li>
                        <li><a href="">Jérémy Angora</a></li>
                        <li><a href="">Florian Patérour</a></li>
                        <li><a href="">Valentin Dumont</a></li>
                        <li><a href="www.linkedin.com/in/alexandre-rouchouze-10203519b">Alexandre Rouchouze</a></li>
                    </ul>
                </li>
                <li> AGR nantes:
                    <ul>
                        <li><a href="">Aubin Maurier</a></li>
                        <li><a href="">Aurélie Brégeon</a></li>
                    </ul>
                </li>
                <li> SciencesCom:
                    <ul>
                        <li><a href="">Karuk Elice</a></li>
                        <li><a href="">Isabelle Tylek</a></li>
                    </ul>
                </li>
            </ul>
            <div style="display:inline-block">
            En partenariat avec: <br>
                <div><a href="https://www.audencia.com/"><img src="img/logo/logo_audencia_b.png" alt="audencia"></a> </div>
                <div><a href="http://www.paysdelaloire.fr/"><img src="img/institutionnels/logo_pdl.png" alt="Pays de La Loire"></a> </div>
                <div><a href="http://www.nantesmetropole.fr/"><img src="img/institutionnels/logo_nantesmetropole.png" alt="Nantes Métropole"></a> </div>
            </div>
            <div>
                Licences:
                <ul>
                <li class="stacked"><img src="img/logo_cc.png" alt="Creative commons"></li>
                <li class="stacked"><img src="img/logo_opensource.png" alt="Open source"></li>
                </ul>
            </div>
        </div>
    </body>
</html>