<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/styleCredits.css">
        <title>Credits</title>
    </head>
    <body>
        <h1>Crédits</h1>
        <div style="z-index: 99">
            <a href="http://www.hyblab.fr/"><img id="hyblab" src="img/logo/logo_hyblab.png" alt="Hyblab DataSport"></a>
            <ul class="logoecoles">
                <li><a href="http://sciencescom.audencia.com/"><img src="img/logo/ecoles/logo_sciencescom.jpg" alt="SciencesCom"></a></li>
                <li><a href="http://www.polytech.univ-nantes.fr/"><img src="img/logo/ecoles/logo_polytech.png" alt="Polytech Nantes"></a></li>
                <li><a href="http://www.agrnantes.fr"><img src="img/logo/ecoles/AGR_logo_Nantes_Rennes.png" alt="AGR école de l'image"></a></li>
                <li><a href="http://www.ouestmedialab.fr/"><img src="img/logo/logo_oml.png" alt="Ouest Médialab"></a></li>
                <br>
                <li><a href="http://www.paysdelaloire.fr/"><img src="img/logo/institutionnels/PDL_logo.png" alt="Pays de La Loire"></a> </li>
                <li><a href="http://www.nantesmetropole.fr/"><img src="img/logo/institutionnels/logo_nantesmetropole.png" alt="Nantes Métropole"></a> </li>
                <li><a href="http://www.univ-nantes.fr/"><img src="img/logo/ecoles/logo_universitenantes.jpg" alt="Université de Nantes"></a></li>

            </ul>
            Étudiants:
            <ul class="etudiants">
                <li> <em>Polytech Nantes (Développement et intégration):</em>
                    <ul class="ecole">
                        <li class="etudiant">Guillaume Kergreis:
                            <div class="logoLien">
                                <a href="https://www.linkedin.com/in/guillaume-kergreis">
                                    <img src="img/logo/liens/LinkedIn.png" alt="LinkedIn">
                                </a>
                            </div>
                        </li>
                        <li class="etudiant">Jérémy Angora:
                            <div class="logoLien">
                                <a href="https://www.linkedin.com/in/jérémy-angora/">
                                    <img src="img/logo/liens/LinkedIn.png" alt="LinkedIn">
                                </a>
                            </div>
                        </li>
                        <li class="etudiant">Florian Patérour:
                            <div class="logoLien">
                                <a href="https://linkedin.com/in/florianpaterour">
                                    <img src="img/logo/liens/LinkedIn.png" alt="LinkedIn">
                                </a>
                            </div>
                        </li>
                        <li class="etudiant">Valentin Dumont:
                            <div class="logoLien">
                                <a href="https://www.linkedin.com/in/valentin-dumont/">
                                    <img src="img/logo/liens/LinkedIn.png" alt="LinkedIn">
                                </a>
                            </div>
                        </li>
                        <li class="etudiant">Alexandre Rouchouze:
                            <div class="logoLien">
                                <a href="http://www.linkedin.com/in/alexandre-rouchouze-10203519b">
                                    <img src="img/logo/liens/LinkedIn.png" alt="LinkedIn">
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li> <em>AGR nantes (Designs):</em>
                    <ul class="ecole">
                        <li class="etudiant">Aubin Maurier
                        </li>
                        <li class="etudiant">Aurélie Brégeon
                        </li>
                    </ul>
                </li>
                <li> <em>SciencesCom (Textes et dialogues):</em>
                    <ul class="ecole">
                        <li class="etudiant">Karuk Elice:
                            <div class="logoLien">
                                <a href="https://www.linkedin.com/in/karuk-elice">
                                    <img src="img/logo/liens/LinkedIn.png" alt="LinkedIn">
                                </a>
                            </div>
                        </li>
                        <li class="etudiant">Isabelle Tylek
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="partenaires">
            Travail réalisé en partenariat avec:
                <div><a href="https://www.audencia.com/"><img src="img/logo/logo_audencia_b.png" alt="audencia"></a> </div>
            </div>
            <div>
                Licences:
                <div class="licence">
                    <img class="inline" src="img/logo/logo_cc.png" alt="Creative commons">
                    <ul class="inline">
                        <li>Creative commons</li>
                        <li>Open source (MIT)</li>
                    </ul>
                    <img class="inline" src="img/logo/logo_opensource.png" alt="Open source">
                </div>
            </div>
        </div>
    </body>
</html>