/* ------- Important ! Regardez bien à la fin de ce CSS pour des règles permettant de ----------- */
/* contraindre le format des slides affichés sur la page web */


/* normalisation des marges et padding pour simplifier le positionnement des éléments */
*{
    padding:0;
    margin:0;
}

*.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  -ms-user-select: none;
  user-select: none;
}

body {
    background-color: black;
    color: white;
    overflow: hidden;   /* pour slidr dans certains navigateurs */
}

#container{
    position: relative; /* pour permettre le positionnement en absolu des autres éléments */
}

header {
  position: absolute;
  top: 0;
  height: 10%;
  width: 100%;
  background-color: black;
}

main {
  position: absolute;
  height: 100%;
  width: 100%;
}

#header_brand {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 5%;
  top: 0%;
}

#svg_brand
  .st0{fill:#FFFFFF;}

#svg_brand {
  position: absolute;
  height: 100%;
  left: 0;
}

footer {
  position: absolute;
  top: 86%;
  height: 14%;
  width: 100%;
  background-color: black;
}

#footer_ellipse {
  position: absolute;
  height: 100%;
  width: 100%;
}

#svg_ellipse {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
}

#footer_text {
  position: absolute;
  height: 40%;
  width: 40%;
  left: 30%;
  top: 40%;
  font-family: Oswald;
  font-style: normal;
  font-weight: 300;
  font-size: 15%;
  text-align: center;
  letter-spacing: 0.18em;
  text-transform: uppercase;
}

#svg_ellipse_big_circle {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 707px;
  top: 717px;
}

#left {
  position: absolute;
  top: 10%;
  width: 20%;
  height: 70%;
  background-color: black;
}

#right {
  position: absolute;
  top: 10%;
  width: 20%;
  left: 80%;
  height: 70%;
  background-color: black;
}

#buttonContainers {
  display: block;
  position: absolute;
}
.stupidButton {
  position: relative;
  width: 50px;
  height: 30px;
}

#center {
  position: absolute;
  display: block;
  top: 10%;
  width: 60%;
  height: 70%;
  left: 20%;
  background-color: black;
}

.onClick {
  top: 40%;
  width: 30%!important;
  height: 60%!important;
}

#hotel {
  position: absolute;
  left: 5%;
}

#studio {
  position: absolute;
  right: 5%;
}

.slide1 {
  position: absolute;
  top: 0%;
  width: 100%!important;
  height: 80%!important;
}

.slide1Label {
  position: absolute;
  bottom: 0;
  height: 15%;
  width: 100%;
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 20%;
  text-align: center;
  letter-spacing: 0.21em;
  text-transform: uppercase;
}

#slide2_micros {
  position: absolute;
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.micro {
  transform: scale(0.5);
  height: 100%;
  width: 20%;

}

.micro_name {
  transform: scale(0.5);
}

#slide2_micros>*:nth-child(1) {
}

#slide2_micros>*:nth-child(2) {
}

#slide2_micros>*:nth-child(3) {
}

#slide2_micros>*:nth-child(4) {
}

#slide2_micros>*:nth-child(5) {
  position: absolute;
  align-self: center;
}

.slide2 {
  height: 50%;
  width: 50%;
}

.slide2 .st0 {
  fill: none;
  stroke: #FFFFFF;
  stroke-miterlimit: 10;
}

.slide2 .st1 {
  fill: none;
  stroke: #FFFFFF;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

#slide3_mixtable {
  position: absolute;
  width: 100%;
  height: 100%;
}

#svg_mix_table
  	.st0{opacity:0.5;fill:#FFF8E6;stroke:#FFF8E6;stroke-width:2.0609;stroke-linecap:round;stroke-miterlimit:10;}
  	.st1{opacity:0.74;}
  	.st2{opacity:0.5;fill:#FFFFFF;stroke:#FFFFFF;stroke-width:2.0609;stroke-linecap:round;stroke-miterlimit:10;}
  	.st3{opacity:0.5;fill:none;stroke:#FFFFFF;stroke-width:2.0609;stroke-linecap:round;stroke-miterlimit:10;}
  	.st4{opacity:0.5;fill:#FFFFFF;}
  	.st5{display:none;}
  	.st6{fill:none;stroke:#FFFFFF;stroke-width:3.5;stroke-linecap:round;stroke-miterlimit:10;}/*5.2156*/
  	.st7{opacity:0.6;fill:none;stroke:#FFFFFF;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
  	.st8{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
  	.st9{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
  	.st10{fill:none;stroke:#FFF8E6;stroke-width:5.2156;stroke-linecap:round;stroke-miterlimit:10;}
  	.st11{fill:none;stroke:#FFF8E6;stroke-width:1.5461;stroke-linecap:round;stroke-miterlimit:10;}
  	.st12{fill:#FFFFFF;}

#svg_mix_table {
  position: absolute;
  height: 90%;
  width: 100%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  backdrop-filter: blur(2px);
  z-index: 1;
}

/* Modal Content/Box */
.modal-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  top: 25%;
  left: 32%;
  width: 36%;
  height: 61%;
  background: rgba(255, 255, 255, 0.6);
  border: 3px solid #FFFFFF;
  border-radius: 50%;
}

.modal-content #title {
  font-size: 20%;
  font-family: Oswald;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.24em;
  color: #000;
}

.modal-content #main_text {
  font-size: 13%;
  font-family: Oswald;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.24em;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.modal-content #sub_text {
  font-size: 15%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  line-height: 22px;
  letter-spacing: 0.16em;
  color: #000;
}

#button-next {
  flex: shrink;
  bottom: 5%;
  width: 12%;
  height: 20%;
  left: 44%;
}


#svg_skip {
  width: 100%;
  height: 100%;
}

/* on fait en sorte que le slidr et les slides remplissent tout notre conteneur */
#slidr, #slidr section{
    background-color: dodgerblue;
    width: 100%;
    height: 100%;
}

/* pour le positionnement facile, on place tout en absolue et on exprime tout en % */
/* #titre{
    text-align: center;
    width: 20%;
    left: 30%;
    top: 10%;
    position: absolute;
    font-size: 30%;
} */

#logo-hyblab{
    text-align: center;
    width: 50%;
    left: 50%;
    top: 50%;
    margin-left:-25%;
    margin-top:calc(-7.5% * 9 / 16 ); /* les marges sont exprimées en % de la largeur... :-( */
    position: absolute;
    font-size: 50%;
    cursor: pointer;
}

#background-video{
    position: relative; /* on doit positionner un éléments pour pouvoir ajuster sont z-index */
    z-index: -1;
}

/* on centre l'image de fin */
#img-fini{
    width: 50%;
    left: 50%;
    top: 40%;
    position: absolute;
    margin-left:-25%;
    margin-top:calc(-25% * 9 / 16 ); /* les marges sont exprimées en % de la largeur... :-( */
}

/* le footer de la slide 1 est positionné en bas de la slide et son texte est centré */
/* section[data-slidr="page-1"] footer{
    width: 100%;
    bottom: 5%;
    position: absolute;
    font-size: 20%;
    text-align: center;
} */

/* footer{
    width: 100%;
    bottom: 5%;
    position: absolute;
    font-size: 20%;
    text-align: center;
} */

/* Pour que la vidéo remplisse son conteneur (elle sera un peu coupée si nécessaire...) */
.vjs-tech { object-fit: cover; }

/* dernier slide sur fond blanc */
section[data-slidr="page-2"]{
    background-color: white;
}

/* ---------- mise en forme du bandeau des logos ----------------- */
/* ici comme on doit contraindre la hauteur des images (et non leur largeur) */
/* on ne peut pas utiliser de taille en % on utilise donc des em (qui sont définis */
/* comme proportiels à la tailles des slides grace à nos règles plus bas */
/* (cf. fondt-size du body) */

#bandeau {
    padding-top: 3%;
    width:100%;
    height:17%;
    position: absolute;
    bottom: 0;
    background-color: white;
    font-size: 20%;
    z-index: -1;
  }

  #bandeau li{
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.5em;
  }


  #bandeau img{
    height: 2em;
  }

  #bandeau #hyblab{
    margin: 0.5em 3em;
    height: 3em;
    float: left;
  }

  #bandeau #cc, #bandeau #opensource
  {
    height: 1em;
  }

  #bandeau .stacked{
    display:block;
  }

  #bandeau ul{
    text-align: center;
    padding: 0 0;
  }

  #bandeau .institutionnel
  {
    height: 2em;
  }

/* ---------- media queries importantes pour le responsive facile :-D ----------------- */
/* Vous pouvez bien sûr l'adapter pour d'autres ratio que 16:9 */

/* Cette media query permet de s'assurer qu'on remplit toujours la largeur de la fenêtre,
tant qu'on est en dessous de l'apect ratio 16/9 */
@media screen and (max-aspect-ratio: 16/9){
    #container{
        margin-top: calc((100vh - 100 * 9vw / 16) / 2);
        width: 100vw;
        height: calc(100 * 9vw / 16);
    }

    /* On fixe une taille de police par défaut pour le body qui servira de base à toutes
    les autres tailles de police. Celle-ci est proportionelle à la largeur ici. */
    body{
        font-size: 9vw;
    }
}

/* Cette media query permet de s'assurer qu'on remplit toujours la hauteur de la fenêtre, quand on est au
dessus de l'apect ratio 16/9 */
@media screen and (min-aspect-ratio: 16/9){
    #container{
        margin-left: calc((100vw - 100 * 16vh / 9) / 2);
        width: calc(100 * 16vh / 9);
        height: 100vh;
    }

    /* On fixe une taille de police par défaut pour le body qui servira de base à toutes
    les autres tailles de police. Celle-ci est proportionelle à la hauteur ici. */
    body{
        font-size: 16vh;
    }
}

#buttonContainers{
  position: absolute;
  bottom: 0;
}


/* Text style */
.center_question, .theme {
  position: absolute;
  width: 100%;
  height: 15%;
  left: 0%;
  top: 0%;
  font-family: Oswald; /*Google font*/
  font-style: normal;
  font-weight: 600;
  font-size: 15%;
  line-height: 172%;
  text-align: center;
  letter-spacing: 0.24em;
  text-transform: uppercase;
}

.center_speech {
  position: absolute;
  width: 100%;
  height: 20%;
  left: 0%;
  top: 15%;
  font-family: Open sans; /*Google font*/
  font-style: normal;
  font-weight: 500;
  font-size: 10%;
  line-height: 172%;
  text-align: center;
  letter-spacing: 0.24em;
  color: #BDB4F3;
}

.center_speech1 {
  position: absolute;
  width: 100%;
  height: 20%;
  left: 0%;
  top: 15%;
  font-family: Open sans; /*Google font*/
  font-style: normal;
  font-weight: 500;
  font-size: 10%;
  line-height: 172%;
  text-align: center;
  letter-spacing: 0.24em;
  color: #BDB4F3;
}

.center_speech2 {
  position: absolute;
  width: 100%;
  height: 15%;
  left: 0%;
  top: 60%;
  font-family: Oswald; /*Google font*/
  font-style: normal;
  font-weight: 600;
  font-size: 15%;
  line-height: 172%;
  text-align: center;
  letter-spacing: 0.24em;
  text-transform: uppercase;
}

.footer_speech {
  position: absolute;
  width: 100%;
  height: 15%;
  left: 0%;
  top: 90%;
  font-family: Oswald; /*Google font*/
  font-style: normal;
  font-weight: 600;
  font-size: 15%;
  line-height: 172%;
  text-align: center;
  letter-spacing: 0.24em;
  text-transform: uppercase;
}

#slide3_voix {
  position: absolute;
  width: 100%;
  height: 100%;
}

#bouche1 {
  position: absolute;
  left: 5%;
}

#bouche2 {
  position: absolute;
  right: 5%;
}

.slide3 {
  position: absolute;
  top: 20%!important;
  height: 50%!important;
}

.slide3Label {
  position: absolute;
  bottom: 0;
  height: 20%;
  width: 100%;
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 17%;
  text-align: center;
  letter-spacing: 0.21em;
  text-transform: uppercase;
}

#slide4_tournage {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide4Label {
  position: absolute;
  top: 5%;
  height: 25%;
  width: 100%;
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 15%;
  text-align: center;
  letter-spacing: 0.21em;
  text-transform: uppercase;
  color: #fff;
  z-index: +1;
}

.slide4Label_checked {
  position: absolute;
  top: 5%;
  height: 25%;
  width: 100%;
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 15%;
  text-align: center;
  letter-spacing: 0.21em;
  text-transform: uppercase;
  color: #9E90F2;
  z-index: +1;
}

.slide4Animations {
  position: absolute;
  height: 60%;
  width: 18%;
  top: 30%;
}

.animation, .animation *{
  fill: #fff;
  stroke: #fff;
}

.animation_checked, .animation_checked *{
  fill: #9E90F2;
  stroke: #9E90F2;
}

#etape1 {
  position: absolute;
  left: -7%;
}

#etape2 {
  position: absolute;
  left: 25%;
}

#etape3 {
  position: absolute;
  right: 25%;
}

#etape4 {
  position: absolute;
  right: -7%;
}

#slide4_installer {
  /* Composition 2 1 */
  position: absolute;
  width: 100%!important;
  height: 50%!important;
  top: 30%;
  z-index: 1;
}

#slide4_repetition {
  /* Composition 2 1 */
  position: absolute;
  width: 100%!important;
  height: 50%!important;
  top: 30%;
  z-index: 1;
}

#slide4_vocalise {
  /* Composition 2 1 */
  position: absolute;
  width: 100%!important;
  height: 50%!important;
  top: 30%;
  z-index: 1;
}

#slide4_interview {
  /* Composition 2 1 */
  position: absolute;
  width: 100%!important;
  height: 50%!important;
  top: 30%;
  z-index: 1;
}

.slide4_checkbox {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 20%;
  z-index: 1;
}

.svg_checkbox {
  position: absolute;
  height: 50%;
  bottom: 0%;
  width: 20%;
  left: 40%;
  z-index: 1;
}

.svg_checkbox_checked {
  position: absolute;
  height: 50%;
  bottom: 0%;
  width: 20%;
  left: 40%;
  fill: #9E90F2;
  z-index: 1;
}

#slide4_valide{
  position: absolute;
  width: 10%;
  height: 10%;
  left: 115%;
  top: 62%;
  z-index: 1;
}

#slide4_flech{
  position: absolute;
  width: 80%;
  height: 80%;
}

#slide4_valide_text{
  /* valider */
  position: absolute;
  width: 10%;
  height: 10%;
  left: 114%;
  top: 72%;

  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 10%;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.21em;

  color: #FFFFFF;
  z-index: 1;
}

.slide5Label {
  position: absolute;
  top: 50%;
  width: 20%;
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 20%;
  line-height: 172%;
  text-align: center;
}

#slide5_1_label {
  left: 0;
}

#slide5_2_label {
  left: 40%;
}

#slide5_3_label {
  right: 0;
}

#slide6_mixtable {
  position: absolute;
  width: 100%;
  height: 70%;
  top: 30%;
}

#slide7_choice {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide7Label {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 15%;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.21em;
  text-transform: uppercase;
}

#slide7_1_choice {
  position: absolute;
  width: 40%;
  height: 40%;
  top: 45%;
  left: -0%;
}

#slide7_2_choice {
  position: absolute;
  width: 20%;
  height: 50%;
  top: 35%;
  right: 10%;
}

#soundcloud{
  position:absolute;
  align-self: center;
  top: 70%;
  left: 15%;
  width: 70%;
  height: 15%;
}

#sources_arrow {
  position: absolute;
}