/* ------- Important ! Regardez bien à la fin de ce CSS pour des règles permettant de ----------- */
/* contraindre le format des slides affichés sur la page web */


/* normalisation des marges et padding pour simplifier le positionnement des éléments */
*{
    padding:0;
    margin:0;
}

body {
    background-color: black;
    color: white;
    overflow: hidden;   /* pour slidr dans certains navigateurs */
}

#container{
    position: relative; /* pour permettre le positionnement en absolu des autres éléments */
}

header {
  position: absolute;
  top: 0;
  height: 15%;
  width: 100%;
  background-color: #black;
}

#header_brand {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 5%;
  top: 50%;
}

#svg_brand {
  position: absolute;
  height: 100%;
  left: 0;
}

footer {
  position: absolute;
  top: 80%;
  height: 20%;
  width: 100%;
  background-color: #black;
}

#footer_ellipse {
  position: absolute;
  height: 100%;
  width: 100%;
}

#svg_ellipse {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
}

#svg_ellipse text {
  position: absolute;
  left: 50%;
}

#svg_ellipse_big_circle {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 707px;
  top: 717px;
}

#left {
  position: absolute;
  top: 15%;
  width: 20%;
  height: 65%;
  background-color: #black;
}

#right {
  position: absolute;
  top: 15%;
  width: 20%;
  left: 80%;
  height: 65%;
  background-color: #black;
}

#buttonContainers {
  display: block;
  position: absolute;
}
.stupidButton {
  position: relative;
  width: 50px;
  height: 30px;
}

#center {
  position: absolute;
  display: block;
  top: 15%;
  width: 60%;
  height: 65%;
  left: 20%;
  background-color: #black;
}

.slide1 {
  position: absolute;
}

#svg_hotel {
  left: 10%;
  top: 20%;
  width: 25%!important;
  height: 40%!important;
}

#svg_studio {
  right: 10%;
  top: 20%;
  width: 25%!important;
  height: 40%!important;
}

#slide2_micros {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slide2 {
  height: 20%;
  width: 20%;
}

.slide2 .st0 {
  fill: none;
  stroke: #FFFFFF;
  stroke-miterlimit: 10;
}

.slide2 .st1 {
  fill: none;
  stroke: #FFFFFF;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

#slide3_mixtable {
  position: absolute;
  width: 100%;
  height: 100%;
}

#svg_mix_table
  	.st0{opacity:0.5;fill:#FFF8E6;stroke:#FFF8E6;stroke-width:2.0609;stroke-linecap:round;stroke-miterlimit:10;}
  	.st1{opacity:0.74;}
  	.st2{opacity:0.5;fill:#FFFFFF;stroke:#FFFFFF;stroke-width:2.0609;stroke-linecap:round;stroke-miterlimit:10;}
  	.st3{opacity:0.5;fill:none;stroke:#FFFFFF;stroke-width:2.0609;stroke-linecap:round;stroke-miterlimit:10;}
  	.st4{opacity:0.5;fill:#FFFFFF;}
  	.st5{display:none;}
  	.st6{fill:none;stroke:#FFFFFF;stroke-width:5.2156;stroke-linecap:round;stroke-miterlimit:10;}
  	.st7{opacity:0.6;fill:none;stroke:#FFFFFF;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
  	.st8{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
  	.st9{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
  	.st10{fill:none;stroke:#FFF8E6;stroke-width:5.2156;stroke-linecap:round;stroke-miterlimit:10;}
  	.st11{fill:none;stroke:#FFF8E6;stroke-width:1.5461;stroke-linecap:round;stroke-miterlimit:10;}
  	.st12{fill:#FFFFFF;}

#svg_mix_table {
  position: absolute;
  height: 90%;
  width: 100%;
}

/* on fait en sorte que le slidr et les slides remplissent tout notre conteneur */
#slidr, #slidr section{
    background-color: dodgerblue;
    width: 100%;
    height: 100%;
}

/* pour le positionnement facile, on place tout en absolue et on exprime tout en % */
#titre{
    text-align: center;
    width: 20%;
    left: 30%;
    top: 10%;
    position: absolute;
    font-size: 30%;
}

#logo-hyblab{
    text-align: center;
    width: 50%;
    left: 50%;
    top: 50%;
    margin-left:-25%;
    margin-top:calc(-7.5% * 9 / 16 ); /* les marges sont exprimées en % de la largeur... :-( */
    position: absolute;
    font-size: 50%;
    cursor: pointer;
}

#background-video{
    position: relative; /* on doit positionner un éléments pour pouvoir ajuster sont z-index */
    z-index: -1;
}

/* on centre l'image de fin */
#img-fini{
    width: 50%;
    left: 50%;
    top: 40%;
    position: absolute;
    margin-left:-25%;
    margin-top:calc(-25% * 9 / 16 ); /* les marges sont exprimées en % de la largeur... :-( */
}

/* le footer de la slide 1 est positionné en bas de la slide et son texte est centré */
/* section[data-slidr="page-1"] footer{
    width: 100%;
    bottom: 5%;
    position: absolute;
    font-size: 20%;
    text-align: center;
} */

/* footer{
    width: 100%;
    bottom: 5%;
    position: absolute;
    font-size: 20%;
    text-align: center;
} */

/* Pour que la vidéo remplisse son conteneur (elle sera un peu coupée si nécessaire...) */
.vjs-tech { object-fit: cover; }

/* dernier slide sur fond blanc */
section[data-slidr="page-2"]{
    background-color: white;
}

/* ---------- mise en forme du bandeau des logos ----------------- */
/* ici comme on doit contraindre la hauteur des images (et non leur largeur) */
/* on ne peut pas utiliser de taille en % on utilise donc des em (qui sont définis */
/* comme proportiels à la tailles des slides grace à nos règles plus bas */
/* (cf. fondt-size du body) */

#bandeau {
    padding-top: 3%;
    width:100%;
    height:17%;
    position: absolute;
    bottom: 0;
    background-color: white;
    font-size: 20%;
    z-index: -1;
  }

  #bandeau li{
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.5em;
  }


  #bandeau img{
    height: 2em;
  }

  #bandeau #hyblab{
    margin: 0.5em 3em;
    height: 3em;
    float: left;
  }

  #bandeau #cc, #bandeau #opensource
  {
    height: 1em;
  }

  #bandeau .stacked{
    display:block;
  }

  #bandeau ul{
    text-align: center;
    padding: 0 0;
  }

  #bandeau .institutionnel
  {
    height: 2em;
  }

/* ---------- media queries importantes pour le responsive facile :-D ----------------- */
/* Vous pouvez bien sûr l'adapter pour d'autres ratio que 16:9 */

/* Cette media query permet de s'assurer qu'on remplit toujours la largeur de la fenêtre,
tant qu'on est en dessous de l'apect ratio 16/9 */
@media screen and (max-aspect-ratio: 16/9){
    #container{
        margin-top: calc((100vh - 100 * 9vw / 16) / 2);
        width: 100vw;
        height: calc(100 * 9vw / 16);
    }

    /* On fixe une taille de police par défaut pour le body qui servira de base à toutes
    les autres tailles de police. Celle-ci est proportionelle à la largeur ici. */
    body{
        font-size: 9vw;
    }
}

/* Cette media query permet de s'assurer qu'on remplit toujours la hauteur de la fenêtre, quand on est au
dessus de l'apect ratio 16/9 */
@media screen and (min-aspect-ratio: 16/9){
    #container{
        margin-left: calc((100vw - 100 * 16vh / 9) / 2);
        width: calc(100 * 16vh / 9);
        height: 100vh;
    }

    /* On fixe une taille de police par défaut pour le body qui servira de base à toutes
    les autres tailles de police. Celle-ci est proportionelle à la hauteur ici. */
    body{
        font-size: 16vh;
    }
}
