<!--
File Created: 2020-01-28 09:49:11
Author: Christophe SONNEVILLE
Copyright - 2020 Christophe SONNEVILLE
-->
<section id="contexte">
  <div id="contexte-middle">
    <img src="/handiplanet/assets/splash-view1.svg" alt="" id="contexte-splash-img">
    <div>
      <img src="/handiplanet/assets/character-view1.svg" alt="" id="contexte-character-img">
    </div>

    <article id="context-text">
      <p id="context-1">Maintenant, <span>je dois</span>?</p>
      <p id="context-2">Selon toi, <span>que devrais-je faire ensuite</span>?</p id="context-1">
      <p id="context-3">Pour <span>finir</span>?</p id="context-1">
    </article>

    <div id="contexte-questions">
    <div class="contexte-question" id="context-contact">
      <p class="contexte-choix">Prendre contact</p>
      <div class="contexte-img"><img src="/handiplanet/assets/context-contact.svg" alt="" id="contexte-contact-img"></div>
    </div>
    <div class="contexte-question" id="context-resau-img">
      <p class="contexte-choix">Visiter leurs réseaux sociaux</p>
        <div class="contexte-img"><img src="/handiplanet/assets/context-reseau.svg" alt="" id="contexte-resau-img"></div>
    </div>
    <div class="contexte-question" id="context-info">
      <p class="contexte-choix">Voir les informations</p>
      <p class="contexte-img" id="contexte-info-img">i</p>
    </div>
    </div>

    
    
  </div>
  <footer>
    <button id="contexte-next-button">
      Déjà convaincu(e) ?
    </button>
  </footer>
</section>