<!--
File Created: 2020-01-28 21:05:51
Author: Christophe SONNEVILLE
Copyright - 2020 Christophe SONNEVILLE
-->
<section id="viewremerciements">
  <div id="view-thanks-middle">
    <section>
      <article id="view-thanks-agr">
        <img src="assets/agr.svg" alt="Logo AGR">
      </article>
      <article id="view-thanks-audencia">
        <img src="assets/audencia.svg" alt="Logo Audencia">
      </article>
      <article id="view-thanks-polytech">
        <img src="assets/polytech.svg" alt="Logo Polytech">
      </article>
    </section>
  </div>
</section>