<li class="slide stop-scroll">

    <button style="width: 15vw; z-index: 10; left: 50vw; bottom: 40vh;" onclick="playAnimationThenNext('dooranimation-1-id_b7g6', 1)">1er Témoignage</button>
    <button style="width: 15vw; z-index: 10; left: 70vw; bottom: 40vh;" onclick="playAnimationThenNext('dooranimation-1-id_b7g6', 2)">2nd Témoignage</button>

    <img src="img/decors/decor.png" style="width: 100vw; height: 120vh; left: 0; top: -10vh">

    <video class="dooranimation" id="dooranimation-1-id_b7g6">
        <source src="vid/dooranimation.webm" type="video/webm">
    </video>


    <img src="img/personnages/PNG/PNG/perso_07.png" style="width: 10vw; left: 20vw; bottom: 5vw; transform: scaleX(-1);">
    <img src="img/personnages/PNG/PNG/perso_06.png" style="width: 10vw; left: 30vw; bottom: 5vw; transform: scaleX(-1);">

    <img src="img/personnages/PNG/PNG/perso_06.png" style="width: 10vw; left: 30vw; bottom: 5vw; transform: scaleX(-1);">
    <img src="img/personnages/PNG/PNG/perso_06.png" style="width: 10vw; left: 30vw; bottom: 5vw; transform: scaleX(-1);">

    <img src="img/boite_dialogue/boite_dialogue-perso_07.png" style="width: 25vw; left :5vw; bottom: 150px;">

</li>
