<li class="slide stop-scroll">

    <button class="next" style="width: 15vw; z-index: 10; left: 50vw; bottom: 40vh;">1er Témoignage</button>
    <button class="next2" style="width: 15vw; z-index: 10; left: 70vw; bottom: 40vh;">2nd Témoignage</button>

    <img src="img/personnages/PNG/PNG/perso_07.png" style="width: 10vw; left: 20vw; bottom: 5vw; transform: scaleX(-1);">
    <img src="img/personnages/PNG/PNG/perso_06.png" style="width: 10vw; left: 30vw; bottom: 5vw; transform: scaleX(-1);">

    <img src="img/personnages/PNG/PNG/perso_06.png" style="width: 10vw; left: 30vw; bottom: 5vw; transform: scaleX(-1);">
    <img src="img/personnages/PNG/PNG/perso_06.png" style="width: 10vw; left: 30vw; bottom: 5vw; transform: scaleX(-1);">

    <img src="img/boite_dialogue/boite_dialogue-perso_07.png" style="width: 25vw; left :5vw; bottom: 150px;">

</li>
