<li class="slide stop-scroll">

    <img src="img/decors/decor.png" style="width: 80vw; height: 100vh; left: 10vw; top: 0">

    <img src="img/personnages/Pablo_periode_1.png" style="width: 7vw; left: 35vw; bottom: 7vw; transform: scaleX(-1);">
    <img src="img/personnages/Emma_periode_1.png" style="width: 7vw; left: 45vw; bottom: 7vw;  transform: scaleX(-1);">

    <img class="next" src="img/temoignages/lettre_jean.png" style="width: 10vw; left: 55vw; bottom: 25vh;">
    <img class="next2" src="img/temoignages/journal_marie.png" style="width: 10vw; left: 70vw; bottom: 35vh;">

    <img id="textBox1" class="textBox">
    <span id="textBoxTyped1" class="textBoxTyped"></span>

</li>
