<li class="slide" style="background-color: white;">

    <img src="img/temoignages/lettre_jean.png" style="height: 95vh; left: 35vw; top: 2.5vh; overflow: scroll;">

    <audio src="img/temoignages/audio-lettre.mp3" type="audio/mp3" style="left: 45vw; bottom: 9vh; width: 15vw; height: 5vh" controls></audio>

    <img id="textBox2" class="textBox">
    <span id="textBoxTyped2" class="textBoxTyped"></span>
</li>
