<li class="slide" style="background-color: white;">

    <img src="img/temoignages/lettre_jean.png" style="height: 80vh; left: 35vw; top: 5vh; overflow: auto;">

    <img id="textBox2" class="textBox">
    <span id="textBoxTyped2" class="textBoxTyped"></span>
</li>
