<li class="slide" style="background-color: white;">

    <img src="img/temoignages/lettre_jean.png" style="height: 95vh; left: 35vw; top: 2.5vh; overflow: scroll;">

    <img id="textBox2" class="textBox">
    <span id="textBoxTyped2" class="textBoxTyped"></span>
</li>
