<li class="slide" style="background-color: white;">

    <img src="img/temoignages/journal_marie.png" style="width: 90vw; left: 5vw; top: 5vh">

    <img id="textBox2" class="textBox">
    <span id="textBoxTyped2" class="textBoxTyped"></span>
</li>
