<li class="slide">
    <h1 style="left: 35vw; bottom: 50vh; color: black">Journal intime</h1>
    <button class="next2" style="left: 15vw; bottom: 30vh;">Passer à la période suivante</button>
    <button class="next" style="left: 55vw; bottom: 30vh;">Voir le 2nd témoignage</button>
</li>
