@font-face {
    font-family: Avenir;
    src: url("../fonts/AvenirLTStd-Medium.otf");
    font-weight: normal;
}

.slide {
    width: 100vw !important;
    height: 100vh !important;
    float: left;
    margin: 0 1px 0 0;
    padding: 0;
    background: #333;
    color: #ddd;
    text-align: center;
    cursor: pointer;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: white;
    overflow: hidden;
    /* pour slidr dans certains navigateurs */
}

#container {
    position: relative;
    /* pour permettre le positionnement en absolu des autres éléments */
}

body {
    background: #e8e8e8;
}


/* Frame */
.frame {
    height: 100%;
    line-height: 100%;
    overflow: hidden;
}

.frame ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 50px;
}

#firstpage-slide {
    background-color: #002B5B;
}

#logos {
    position: absolute;
    top: 1em;
    left: 1em;
    height: 1em;
    font-size: 35;
}

.logo {
    height: 1em;
    display: inline-block;
}

.logo-separator {
    width: 0.4em;
    display: inline-block;
}

.horizontal-center {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#never-stop-daring {
    position: absolute;
    width: 55vh;
    top: 15vh
}

#bottompart{
    position: absolute;
    bottom: 104vh;
}

.indication {
    font-family: Avenir;
    color: white;
    font-size: 30;
    line-height: normal;
}

#mouse-scroll-tip img {
    height: 80px;
    margin-top: 25px;
}

#mouse-scroll-tip p {
    font-family: Avenir;
    font-size: 13;
    margin-top: 15px;
    color: #DD4C73;
}