/* Polices d'écriture */
@font-face {
    font-family: Avenir;
    src: url("../fonts/AvenirLTStd-Medium.otf");
    font-weight: normal;
}

/* normalisation des marges et padding pour simplifier le positionnement des éléments */
* {
    padding: 0;
    margin: 0;
}

.wrap {
    position: relative;
    width: 100%;
    margin: 0;
}

/* Logos */
#logos {
    font-size: 35px;
    position: absolute;
    top: 1em;
    left: 1em;
    height: 1em;
}

.logo {
    height: 1em;
    display: inline-block;
}

.logo-separator {
    width: 0.4em;
    display: inline-block;
}

.horizontal-center {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

/* Frame */
.cover-slide {
    width: 100vw !important;
    height: 100vh !important;
    float: left;
    margin: 0 1px 0 0;
    padding: 0;
    text-align: center;
    cursor: pointer;
}

.slide {
    width: 100vw !important;
    height: 100vh !important;
    margin: 0 !important;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.key-slide-content{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
}

.slide:not(#carteInteractive) * {
    position: absolute;
}

.frame {
    height: 100%;
    line-height: 300px;
    overflow: hidden;
}

/* Bounce */
#livre-icon, #martine, #carte-icon {
    animation-delay: 1s;
}
.bounce {
    transition: transform 0.5s ease;
    animation-name: bounce;
    animation-timing-function: ease;
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}
.bounce:hover {
    transform: scale(1.2);
    animation: none;
}
@keyframes bounce {
    0%   { transform: scale(1,1)}
    10%  { transform: scale(1.1,.9)}
    30%  { transform: scale(.9,1.1)}
    50%  { transform: scale(1,1)}
    100% { transform: scale(1,1)}
}

/* ------- Important ! Regardez bien à la fin de ce CSS pour des règles permettant de ----------- */
/* contraindre le format des slides affichés sur la page web */

.frame ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 50px;
    overflow: hidden;
}

.frame ul li {
    float: left;
    width: 1140px;
    height: 100%;
    margin: 0 1px 0 0;
    padding: 0;
    text-align: center;
    cursor: pointer;
}

body {
    background-color: white;
    overflow: hidden;
    font-family: Avenir, sans-serif;
}


/* Slider */

.slidercontainer {
    bottom: 3.5vh;
    position: fixed;
    width: 50vw; /* Width of the outside container */
    transform: translate(50%, 0);
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 0.2vh;
    border-radius: 5px;
    background: #2d447c;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2.5vh;
    height: 2.5vh;
    border-radius: 50%;
    border-width: 0;
    background: var(--map-dot-color);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 2.5vh;
    height: 2.5vh;
    border-radius: 50%;
    border-width: 0;
    background: var(--map-dot-color);
    cursor: pointer;
}


/* Animations */
.dooranimation {
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: absolute;
    visibility: hidden;
    left: 0;
    top: 0;
}

/* Décor */
#bg-decor{
    position: absolute;
    width: 80vw;
    height: 100vh;
    left: 10vw;
    top: 0
}

.inslide-decor{
    width: 80vw;
    height: 100vh;
    left: 10vw;
    top: 0;
    visibility: hidden;
}


/* Cover */
#firstpage-slide {
    background-color: #002B5B;
}

#never-stop-daring {
    position: absolute;
    width: 55vh;
    top: 15vh
}

#bottompart {
    position: absolute;
    bottom: 104vh;
}

.indication {
    font-family: Avenir, sans-serif;
    color: white;
    font-size: 30px;
    line-height: normal;
}

#mouse-scroll-tip img {
    height: 80px;
    margin-top: 25px;
}

#mouse-scroll-tip p {
    font-family: Avenir, sans-serif;
    font-size: 13px;
    margin-top: 15px;
    color: #DD4C73;
}

@keyframes opacityOn {
    50% {
        opacity: 0;
    }
}


/* TextBox */

.textBox {
    width: 25vw;
    left: 5vw;
    bottom: 15vh;
}

.textBoxTyped {
    width: 14.5vw;
    height: 0;
    left: 15vw;
    bottom: 15vh;
    margin-bottom: 7vw;
    color: black;
    line-height: normal;
    font-size: 1.1vw;
    text-align: left;
}

.typed-cursor {
    display: none;
}


/* Carte interactive */

:root {
    --map-bg-color: #ffffff;
    --map-fg-color: #002d59;
    --map-dot-color: #e83368;
}

#carteInteractive {
    background-color: var(--map-bg-color);
}

.p3-t2-container {
    position: relative;
    height: 100vh;
}

.mapContainer {
    margin: 60px;
    height: content-box;
    width: content-box;
}

.mapael .map {
    position: relative;
    height: 80vh;
}

.mapael .mapTooltip {
    position: absolute;
    background-color: var(--map-bg-color);
    border-color: var(--map-dot-color);
    border-width: 5px;
    border-style: solid;
    moz-opacity: 0.90;
    opacity: 0.90;
    filter: alpha(opacity=90);
    border-radius: 40px;
    z-index: 999;
    max-height: 80vh;
    max-width: 30vw;
    margin: 5px;
    padding: 5px;
    color: var(--map-fg-color);
    font-size: 1.9vw;
    font-family: Avenir;
    line-height: initial;
    display: none;
}

.mapael .plotLegend {
    position: absolute;
    bottom: 5vh;
    left: 5vw;
    z-index: 1000;
}

.mapael .plotLegend svg {
    overflow: visible !important;
}

.city {
    font-weight: bold
}

.date {
    opacity: 0.80;
    font-size: 0.8em;
    font-weight: lighter;
}

.description {
    opacity: 0.92;
    font-size: 0.8em;
}


/* Crédits */

#credits {
    text-decoration: none;
    transition: opacity 1s ease;
    opacity: 0;
    color: #002B5E;
    font-size: 2vw;
    bottom: 5vh;
    left: 48vw;
    font-weight: bolder;
    line-height: initial;
}

#credits:hover {
    color: #DD4C73;
}