body{
    background-color: black;
    font-family: Avenir;
    color: white;
    font-size: 2.3vh;

    background-image: url("../img/logo/logo_120_b.png");
    background-position: top 7vh left 11vw;
    background-size: 80vw 80vh;
    background-repeat: no-repeat;
    text-align: center;
}

#hyblab{
    width: 20vw;
}
ul{
    list-style-type: none;
}
.logoecoles li{
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
}
.logoecoles img{
    height: 7vh;
    margin: 0.5vh;
}

.logo{
    border-radius: 0.5vh;
    background-color: white;
    opacity: 0.90;
    border-color: #e83368;
    border-width: 0.2vh;
    border-style: solid;
    height: 7.5vh;
}



.logoLien img{
    width:3vh;
    vertical-align: middle;
}

.logoLien{
    display: inline-block;
}
.etudiants>li{
    margin-top: 2vh;
}
.etudiant{
    margin-top: 0.4vh;
    height: 2vh;
}

.ecole{
    margin-top: 0.4vh;
}

.stacked{
    display: inline-block;
}
.partenaires img{
    height: 6vh;
    margin: 0.5vh;
}
.inline{
    display: inline-block;
}
.licence img{
    height: 6vh;
}
.partenaires{
    margin-top: 2vh;
}