/* Polices d'écriture */
@font-face {
    font-family: Avenir;
    src: url("../fonts/AvenirLTStd-Medium.otf");
    font-weight: normal;
}

/* normalisation des marges et padding pour simplifier le positionnement des éléments */
* {
    padding: 0;
    margin: 0;
}

.wrap {
    position: relative;
    width:100%;
    margin: 0;
}

/* Logos */
#logos {
    font-size: 35px;
    position: absolute;
    top: 1em;
    left: 1em;
    height: 1em;
}

.logo {
    height: 1em;
    display: inline-block;
}

.logo-separator {
    width: 0.4em;
    display: inline-block;
}

.horizontal-center {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

/* Frame */
.slide {
    width: 100vw !important;
    height: 100vh !important;
    float: left;
    margin: 0 1px 0 0;
    padding: 0;
    background: #333;
    color: #ddd;
    text-align: center;
    cursor: pointer;
}

.frame {
    height: 100%;
    line-height: 300px;
    overflow: hidden;
}

.frame ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 50px;
    overflow: hidden;
}

.frame ul li {
    float: left;
    width: 1140px;
    height: 100%;
    margin: 0 1px 0 0;
    padding: 0;
    background: #333;
    color: #ddd;
    text-align: center;
    cursor: pointer;
}

.frame ul li.active {
    color: #fff;
    background: #333;
}

.slide {
    width: 100vw !important;
    height: 100vh !important;
}

body {
    background-color: black;
    color: white;
    overflow: hidden;
    /* pour slidr dans certains navigateurs */
}

#container {
    position: relative;
    /* pour permettre le positionnement en absolu des autres éléments */
}



/* Scrollbar */

.scrollbar {
    margin: 0 0 1em 0;
    background: #ccc;
    line-height: 0;
    width: 80%;
    left: 10%;
    height: 50px;
    bottom: 80px;
    position: fixed;
}

.scrollbar .handle {
    height: 100%;
    background: #292a33;
    cursor: pointer;
    transform: translateZ(0px) translateX(0px);
    width: 71px;
}

.scrollbar .handle .mousearea {
    position: absolute;
    top: -9px;
    left: 0;
    width: 100%;
    height: 20px;
}

/* Pages */

.pages {
    list-style: none;
    margin: 20px 0;
    padding: 0;
    text-align: center;
}

.pages li {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 4px;
    text-indent: -999px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    background: #fff;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2);
}

.pages li:hover {
    background: #aaa;
}

.pages li.active {
    background: #666;
}


/* Cover */
#firstpage-slide {
    background-color: #002B5B;
}

#never-stop-daring {
    position: absolute;
    width: 55vh;
    top: 15vh
}

#bottompart{
    position: absolute;
    bottom: 104vh;
}

.indication {
    font-family: Avenir;
    color: white;
    font-size: 30;
    line-height: normal;
}

#mouse-scroll-tip img {
    height: 80px;
    margin-top: 25px;
}

#mouse-scroll-tip p {
    font-family: Avenir;
    font-size: 13;
    margin-top: 15px;
    color: #DD4C73;
}