body{
    margin-top: 4px;
    margin-left: 1vw;
    background-color: black;
    font-family: Avenir;
    color: white;

    background-image: url("../img/logo/logo_120_b.png");
    background-position: top 5vw left 11vw;
    background-size: 180vh 80vh;
    background-repeat: no-repeat;
    text-align: center;
}

#hyblab{
    width: 20vw;
}
ul{
    list-style-type: none;
}
.logoecoles li{
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    margin: 5px 12px;
    background-color: white;
    border-color: #e83368;
    border-width: 5px;
    border-style: solid;
}
.logoecoles img{
    height: 40px;
}



.logoLien img{
    width:1.5vw;
    vertical-align: middle;
}

.logoLien{
    display: inline-block;
}
.etudiants>li{
    margin-top: 1vw;
}
.etudiant{
    margin-top: 2px;
    display: block;
    height: 20px;
}

.ecole{
    margin-top: 3px;
}

.stacked{
    display: inline-block;
}
.partenaires img{
    height: 40px;
    background-color: white;
    border-color: #e83368;
    border-width: 5px;
    border-style: solid;
}
.inline{
    display: inline-block;
}
.licence img{
    height: 40px;
}
.partenaires{
    margin-top: 10px;
}

font{
    margin: 0;
}